n8n-dimension-workflow-integration.json
{
    "name": "Search Analysis - Dimension Workflow - Integration",
    "nodes": [
        {
            "parameters": {
                "inputSource": "passthrough"
            },
            "type": "n8n-nodes-base.executeWorkflowTrigger",
            "typeVersion": 1.1,
            "position": [
                -384,
                400
            ],
            "id": "ace76cf6-d10e-41a4-b53d-13244eaedb8d",
            "name": "Dimension Input Trigger"
        },
        {
            "parameters": {
                "model": "openai/gpt-5-mini",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
            "typeVersion": 1,
            "position": [
                -160,
                608
            ],
            "id": "28d07338-bd64-40f2-978a-9b6223042e19",
            "name": "Sonnet 4 - Query Gen",
            "credentials": {
                "openRouterApi": {
                    "id": "DPnbXJEN5OpXBJeM",
                    "name": "OpenRouter account"
                }
            }
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=You are an expert research strategist. Generate targeted search queries to assess **{{ $json.companyName }}**'s maturity in the **{{ $json.dimensionName }}** dimension.\n\n## COMPANY CONTEXT\n- **Company:** {{ $json.companyName }}\n- **Domain:** {{ $json.companyDomain }}\n- **Industry:** {{ $json.classification.industry_primary }}\n- **Vertical:** {{ $json.classification.industry_vertical }}\n- **Size:** {{ $json.classification.employee_count_range }} employees\n- **ARR Range:** {{ $json.classification.estimated_arr_range }}\n- **Service Model:** {{ $json.classification.service_model }}\n- **Target Customer:** {{ $json.classification.target_customer }}\n\n## DIMENSION TO ASSESS\n- **Dimension:** {{ $json.dimensionName }} ({{ $json.dimensionKey }})\n- **Weight:** {{ $json.dimensionWeight }} ({{ Math.round($json.dimensionWeight * 100) }}%)\n- **Assessment Type:** {{ $json.assessmentType }}\n\n## QUESTIONS TO FIND EVIDENCE FOR\n{{ JSON.stringify($json.dimensionQuestions.slice(0, 10), null, 2) }}\n\n## MATURITY FRAMEWORK\nThis assessment uses CRAWL/WALK/RUN maturity levels:\n- **CRAWL (1-2):** Basic/reactive, manual processes, no formal structure\n- **WALK (3-4):** Documented processes, some automation, defined KPIs\n- **RUN (5):** AI-optimized, predictive, fully automated, industry-leading\n\n## YOUR TASK\nGenerate 10-15 targeted search queries that will help find PUBLIC evidence about this company's capabilities in {{ $json.dimensionName }}.\n\n### Query Types to Include:\n1. **Company-specific:** \"{{ $json.companyName }} [topic]\" \n2. **Domain-specific:** \"site:{{ $json.companyDomain }} [topic]\"\n3. **Industry benchmarks:** \"{{ $json.classification.industry_vertical }} [metric] benchmark\"\n4. **Job postings:** \"{{ $json.companyName }} careers [relevant role]\"\n5. **News/PR:** \"{{ $json.companyName }} partnership announcement\"\n6. **LinkedIn:** \"{{ $json.companyName }} [leadership role]\"\n7. **Reviews/ratings:** \"{{ $json.companyName }} reviews [platform]\"\n\n### Output Format (JSON only, no markdown):\n{\n  \"search_queries\": [\n    {\n      \"query\": \"exact search string\",\n      \"intent\": \"what evidence we're looking for\",\n      \"question_alignment\": \"which question ID(s) this helps answer\",\n      \"priority\": \"high|medium|low\",\n      \"expected_evidence\": \"type of information expected\"\n    }\n  ]\n}\n\n### Requirements:\n- Generate 10-15 queries total\n- At least 5 high priority queries\n- Cover multiple subcategories from the questions\n- Use actual company name and domain\n- Focus on publicly findable information\n- Include industry-specific terminology for {{ $json.classification.industry_primary }}\n\nReturn ONLY valid JSON, no explanation or markdown.",
                "options": {
                    "systemMessage": "You are a research query specialist. Return only valid JSON with no markdown formatting or explanation."
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 2.2,
            "position": [
                -160,
                400
            ],
            "id": "815d7eb8-d678-4c76-8db2-e5f5bd902321",
            "name": "Search Query Generator"
        },
        {
            "parameters": {
                "jsCode": "// Parse search queries from AI output\nconst input = $input.first().json;\nconst outputString = input.output;\n\n// Try to parse JSON directly or extract from markdown\nlet searchData;\ntry {\n  // First try direct JSON parse\n  searchData = JSON.parse(outputString);\n} catch (e) {\n  // Try extracting from markdown code block\n  const jsonMatch = outputString.match(/```(?:json)?\\n?([\\s\\S]*?)\\n?```/);\n  if (jsonMatch) {\n    searchData = JSON.parse(jsonMatch[1]);\n  } else {\n    // Try finding JSON object directly\n    const objectMatch = outputString.match(/\\{[\\s\\S]*\\}/);\n    if (objectMatch) {\n      searchData = JSON.parse(objectMatch[0]);\n    } else {\n      throw new Error('Could not find JSON in output');\n    }\n  }\n}\n\nconst searchQueries = searchData.search_queries;\nif (!searchQueries || !Array.isArray(searchQueries)) {\n  throw new Error('No search_queries array found');\n}\n\n// Get original dimension data from trigger\nconst dimensionData = $('Dimension Input Trigger').first().json;\n\n// Return each query as separate item\nreturn searchQueries.map((query, index) => ({\n  json: {\n    query: query.query,\n    intent: query.intent,\n    question_alignment: query.question_alignment,\n    priority: query.priority,\n    expected_evidence: query.expected_evidence,\n    query_index: index + 1,\n    total_queries: searchQueries.length,\n    // Pass through dimension context\n    dimensionKey: dimensionData.dimensionKey,\n    dimensionName: dimensionData.dimensionName,\n    companyName: dimensionData.companyName,\n    companyDomain: dimensionData.companyDomain\n  }\n}));"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                160,
                400
            ],
            "id": "6babf89a-693b-4dfa-a901-9ee9616c8e7f",
            "name": "Parse Search Queries"
        },
        {
            "parameters": {
                "batchSize": 5,
                "options": {}
            },
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                400,
                400
            ],
            "id": "8cb07d1e-1b8e-4310-80ff-61b3bfd3447d",
            "name": "Batch Queries"
        },
        {
            "parameters": {
                "amount": 1
            },
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                880,
                560
            ],
            "id": "57eaa24c-e5f3-45f7-a7df-b2abd1496416",
            "name": "Rate Limit Wait",
            "webhookId": "733fbdd0-1957-41f0-8b0f-bc58ee84ac22"
        },
        {
            "parameters": {
                "jsCode": "// Aggregate all search results from the batch loop\nconst allResults = [];\nconst dimensionData = $('Dimension Input Trigger').first().json;\n\nfor (const item of $input.all()) {\n  // Check if this item has search results\n  if (item.json.results || item.json.answer) {\n    allResults.push({\n      query: item.json.query || 'unknown',\n      answer: item.json.answer || null,\n      results: item.json.results || [],\n      response_time: item.json.response_time || null\n    });\n  }\n}\n\n// Calculate search statistics\nconst totalResults = allResults.reduce((sum, r) => sum + (r.results?.length || 0), 0);\nconst queriesWithAnswers = allResults.filter(r => r.answer).length;\n\nreturn [{\n  json: {\n    // Search results summary\n    searchSummary: {\n      totalQueries: allResults.length,\n      totalResults: totalResults,\n      queriesWithAnswers: queriesWithAnswers,\n      timestamp: new Date().toISOString()\n    },\n    searchResults: allResults,\n    \n    // Pass through all dimension data for analysis\n    dimensionKey: dimensionData.dimensionKey,\n    dimensionName: dimensionData.dimensionName,\n    dimensionWeight: dimensionData.dimensionWeight,\n    dimensionOrder: dimensionData.dimensionOrder,\n    dimensionQuestions: dimensionData.dimensionQuestions,\n    questionCount: dimensionData.questionCount,\n    \n    // Assessment context\n    assessmentId: dimensionData.assessmentId,\n    assessmentVersionId: dimensionData.assessmentVersionId,\n    organizationId: dimensionData.organizationId,\n    companyProfileId: dimensionData.companyProfileId,\n    \n    // Company context\n    companyName: dimensionData.companyName,\n    companyDomain: dimensionData.companyDomain,\n    classification: dimensionData.classification,\n    assessmentType: dimensionData.assessmentType,\n    \n    // Playbook context\n    playbookMetadata: dimensionData.playbookMetadata,\n    scoringModel: dimensionData.scoringModel,\n    totalDimensions: dimensionData.totalDimensions\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                640,
                240
            ],
            "id": "0fd1cdec-79b3-4729-9569-aba1e30d55d7",
            "name": "Aggregate Search Results"
        },
        {
            "parameters": {
                "model": "anthropic/claude-sonnet-4.5",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
            "typeVersion": 1,
            "position": [
                896,
                448
            ],
            "id": "12781534-9307-4225-b10b-f6505a01e9f5",
            "name": "Sonnet 4.5 - Analysis",
            "credentials": {
                "openRouterApi": {
                    "id": "DPnbXJEN5OpXBJeM",
                    "name": "OpenRouter account"
                }
            }
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=You are an expert {{ $json.assessmentType }} analyst. Evaluate **{{ $json.companyName }}** against the **{{ $json.dimensionName }}** dimension using the search evidence provided.\n\n## COMPANY PROFILE\n- **Company:** {{ $json.companyName }}\n- **Domain:** {{ $json.companyDomain }}\n- **Industry:** {{ $json.classification.industry_primary }}\n- **Vertical:** {{ $json.classification.industry_vertical }}\n- **Size:** {{ $json.classification.employee_count_range }} employees\n- **ARR Range:** {{ $json.classification.estimated_arr_range }}\n- **Service Model:** {{ $json.classification.service_model }}\n- **Target Customer:** {{ $json.classification.target_customer }}\n\n## DIMENSION BEING ASSESSED\n- **Dimension:** {{ $json.dimensionName }}\n- **Key:** {{ $json.dimensionKey }}\n- **Weight:** {{ $json.dimensionWeight }} ({{ Math.round($json.dimensionWeight * 100) }}%)\n- **Question Count:** {{ $json.questionCount }}\n\n## SCORING MODEL\n{{ JSON.stringify($json.scoringModel, null, 2) }}\n\n## DIMENSION QUESTIONS TO EVALUATE\n{{ JSON.stringify($json.dimensionQuestions, null, 2) }}\n\n## SEARCH EVIDENCE COLLECTED\n**Search Summary:** {{ $json.searchSummary.totalQueries }} queries, {{ $json.searchSummary.totalResults }} results found\n\n**Search Results:**\n{{ JSON.stringify($json.searchResults, null, 2) }}\n\n---\n\n## YOUR ANALYSIS TASK\n\nAnalyze the company against this dimension using ONLY the evidence from search results. Be honest about data limitations.\n\n### Maturity Framework (CRAWL/WALK/RUN)\n- **CRAWL (Score 1-2, 0-40%):** Reactive, ad-hoc, no formal processes, manual operations\n- **WALK (Score 3-4, 41-70%):** Documented processes, some automation, defined KPIs, regular reviews\n- **RUN (Score 5, 71-100%):** AI-optimized, predictive analytics, fully automated, industry-leading\n\n### Confidence Scoring Guidelines\n- **verified (90-100%):** Multiple corroborating sources, specific metrics found\n- **validated (70-89%):** Good evidence from reliable sources\n- **informed_estimate (50-69%):** Some evidence, reasonable inferences (typical for webscan)\n- **low_confidence (30-49%):** Limited evidence, significant assumptions\n- **insufficient_data (0-29%):** Cannot make reliable assessment\n\n---\n\n## REQUIRED OUTPUT FORMAT (JSON ONLY)\n\n**CRITICAL JSON FORMATTING RULES:**\n- ALL string values must have internal double quotes escaped with backslash: \\\"\n- Example: \"quote\": \"The \\\"LinkedIn\\\" and \\\"Facebook\\\" presence shows digital engagement\"\n- Never write: \"quote\": \"The \"LinkedIn\" and \"Facebook\" presence\" (this breaks JSON)\n- If quoting text that contains quotes, always escape them: \\\"text\\\"\n- Test your JSON is valid before outputting\n```json\n{\n  \"raw_score\": <0-100 integer>,\n  \"maturity_level\": \"crawl|walk|run\",\n  \n  \"confidence_score\": <0-100 integer>,\n  \"confidence_category\": \"verified|validated|informed_estimate|low_confidence|insufficient_data\",\n  \"confidence_factors\": {\n    \"data_sources_found\": <number>,\n    \"data_points_extracted\": <number>,\n    \"assumptions_made\": <number>,\n    \"gaps_identified\": <number>\n  },\n  \"limitations\": [\"limitation 1\", \"limitation 2\"],\n  \"confidence_improvement_suggestions\": [\n    {\n      \"suggestion\": \"what would improve confidence\",\n      \"data_needed\": \"specific data required\",\n      \"potential_confidence_gain\": <5-20>\n    }\n  ],\n  \n  \"analysis_summary\": \"2-3 sentence executive summary of findings\",\n  \n  \"strengths\": [\n    {\n      \"title\": \"strength name\",\n      \"description\": \"detailed description\",\n      \"evidence\": \"specific evidence from search results - escape any quotes with backslash\"\n    }\n  ],\n  \n  \"gaps\": [\n    {\n      \"title\": \"gap name\",\n      \"description\": \"detailed description\",\n      \"impact\": \"business impact\",\n      \"priority\": \"critical|high|medium|low\"\n    }\n  ],\n  \n  \"quick_wins\": [\n    {\n      \"action\": \"specific action\",\n      \"timeline\": \"30|60|90 days\",\n      \"expected_impact\": \"measurable outcome\"\n    }\n  ],\n  \n  \"recommendations\": [\n    {\n      \"title\": \"recommendation name\",\n      \"description\": \"detailed description\",\n      \"effort\": \"low|medium|high\",\n      \"impact\": \"low|medium|high\",\n      \"timeline\": \"short|medium|long term\"\n    }\n  ],\n  \n  \"evidence_sources\": [\n    {\n      \"source_url\": \"URL if available\",\n      \"source_type\": \"website|news|job_posting|review|linkedin\",\n      \"relevance\": \"how this informed the assessment\",\n      \"quote\": \"key excerpt - ESCAPE ALL INTERNAL QUOTES with backslash before quote mark\"\n    }\n  ]\n}\n```\n\n### Critical Instructions:\n1. Base scores ONLY on evidence found - do not assume capabilities\n2. For webscan analysis, confidence typically maxes at 65% (informed_estimate)\n3. Be specific about what evidence supports each finding\n4. Identify clear gaps where no evidence was found\n5. Recommendations should be actionable and specific to this company\n6. **ESCAPE ALL DOUBLE QUOTES IN STRING VALUES:** Use \\\" for any quotes within text\n7. Return ONLY valid JSON inside markdown code block, no extra text\n8. Verify your JSON is valid before responding\n\nAnalyze {{ $json.companyName }}'s {{ $json.dimensionName }} maturity now.",
                "options": {
                    "systemMessage": "You are an expert business analyst specializing in GTM and Partnership maturity assessments. Return only valid JSON output matching the exact schema specified. Be evidence-based and honest about limitations."
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 2.2,
            "position": [
                880,
                240
            ],
            "id": "f8a41e78-b34f-4ac5-82e2-f008bc830e0c",
            "name": "Dimension Analysis Agent"
        },
        {
            "parameters": {
                "jsCode": "// Parse analysis output and prepare for Supabase insert\nconst input = $input.first().json;\nlet outputString = input.output;\nconst dimensionData = $('Aggregate Search Results').first().json;\n\n// Extract JSON from markdown code block\nconst jsonMatch = outputString.match(/```(?:json)?\\s*\\n([\\s\\S]*?)\\n```/);\nif (jsonMatch) {\n  outputString = jsonMatch[1].trim();\n}\n\n// Parse the cleaned JSON\nlet analysis;\ntry {\n  analysis = JSON.parse(outputString);\n} catch (e) {\n  console.log(`JSON Parse failed: ${e.message}. Falling back to default object.`);\n  analysis = {\n    raw_score: 0,\n    maturity_level: \"crawl\",\n    confidence_score: 0,\n    confidence_category: \"insufficient_data\",\n    analysis_summary: \"Error parsing AI analysis output. Raw output saved in full_analysis.\",\n    limitations: [\"JSON Parse Error from Model\"],\n    strengths: [],\n    gaps: [],\n    quick_wins: [],\n    recommendations: [],\n    evidence_sources: []\n  };\n}\n\n// Calculate weighted score\nconst weightedScore = (analysis.raw_score * dimensionData.dimensionWeight).toFixed(2);\n\n// Prepare the record for dimension_analyses table\nreturn [{\n  json: {\n    version_id: dimensionData.assessmentVersionId,\n    dimension_key: dimensionData.dimensionKey,\n    dimension_name: dimensionData.dimensionName,\n    dimension_weight: dimensionData.dimensionWeight,\n    analysis_type: 'webscan',\n    raw_score: analysis.raw_score || 0,\n    weighted_score: parseFloat(weightedScore) || 0,\n    maturity_level: analysis.maturity_level || 'crawl',\n    confidence_score: analysis.confidence_score || 0,\n    confidence_category: analysis.confidence_category || 'insufficient_data',\n    confidence_factors: analysis.confidence_factors || {},\n    limitations: analysis.limitations || [],\n    confidence_improvement_suggestions: analysis.confidence_improvement_suggestions || [],\n    analysis_summary: analysis.analysis_summary || \"No summary available\",\n    full_analysis: analysis,\n    strengths: analysis.strengths || [],\n    gaps: analysis.gaps || [],\n    quick_wins: analysis.quick_wins || [],\n    recommendations: analysis.recommendations || [],\n    evidence_sources: analysis.evidence_sources || [],\n    model_used: 'claude-sonnet-4-5-20250929',\n    started_at: new Date().toISOString(),\n    completed_at: new Date().toISOString(),\n    assessmentId: dimensionData.assessmentId,\n    organizationId: dimensionData.organizationId,\n    companyName: dimensionData.companyName\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1200,
                240
            ],
            "id": "839b0edd-8691-47ec-af7a-eb0c94064c9c",
            "name": "Prepare for Supabase"
        },
        {
            "parameters": {
                "jsCode": "// Return success summary\nconst insertResult = $input.first().json;\nconst preparedData = $('Prepare for Supabase').first().json;\n\nreturn [{\n  json: {\n    success: true,\n    message: `Dimension analysis completed for ${preparedData.dimension_name}`,\n    summary: {\n      company: preparedData.companyName,\n      dimension: preparedData.dimension_name,\n      dimension_key: preparedData.dimension_key,\n      raw_score: preparedData.raw_score,\n      maturity_level: preparedData.maturity_level,\n      confidence_score: preparedData.confidence_score,\n      confidence_category: preparedData.confidence_category\n    },\n    assessment_version_id: preparedData.version_id,\n    organization_id: preparedData.organizationId,\n    completed_at: new Date().toISOString()\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1600,
                240
            ],
            "id": "a0aea09a-38ff-4e12-95f4-23f42005fc37",
            "name": "Return Success"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.tavily.com/search",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "api_key",
                            "value": "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"
                        },
                        {
                            "name": "query",
                            "value": "={{ $json.query }}"
                        },
                        {
                            "name": "search_depth",
                            "value": "advanced"
                        },
                        {
                            "name": "max_results",
                            "value": "20"
                        },
                        {
                            "name": "include_answer",
                            "value": true
                        },
                        {
                            "name": "include_raw_content",
                            "value": false
                        }
                    ]
                },
                "options": {}
            },
            "id": "697bbe45-6798-453d-8fd0-1bcb65239c03",
            "name": "Tavily Search",
            "type": "n8n-nodes-base.httpRequest",
            "position": [
                688,
                496
            ],
            "typeVersion": 3,
            "executeOnce": false
        },
        {
            "parameters": {
                "tableId": "dimension_analyses",
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "assessment_id",
                            "fieldValue": "={{ $('Dimension Input Trigger').first().json.assessmentId }}"
                        },
                        {
                            "fieldId": "version_id",
                            "fieldValue": "={{ $json.version_id }}"
                        },
                        {
                            "fieldId": "dimension_key",
                            "fieldValue": "={{ $json.dimension_key }}"
                        },
                        {
                            "fieldId": "stage",
                            "fieldValue": "web_scan"
                        },
                        {
                            "fieldId": "iteration",
                            "fieldValue": "1"
                        },
                        {
                            "fieldId": "raw_score",
                            "fieldValue": "={{ $json.raw_score }}"
                        },
                        {
                            "fieldId": "confidence_score",
                            "fieldValue": "={{ $json.confidence_score }}"
                        },
                        {
                            "fieldId": "score_delta",
                            "fieldValue": "={{ {\"previous_raw_score\": null, \"raw_score_change\": 0, \"previous_confidence\": null, \"confidence_change\": 0} }}"
                        },
                        {
                            "fieldId": "full_analysis",
                            "fieldValue": "={{ $json.full_analysis }}"
                        },
                        {
                            "fieldId": "analysis_summary",
                            "fieldValue": "={{ $json.analysis_summary }}"
                        },
                        {
                            "fieldId": "dimension_name",
                            "fieldValue": "={{ $json.dimension_name }}"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                1392,
                240
            ],
            "id": "18db7e00-e8b3-4a8e-96d7-8692a2e65dc9",
            "name": "Insert Dimension Analysis",
            "credentials": {
                "supabaseApi": {
                    "id": "FTSugGkqwnuu6irz",
                    "name": "SupaStack"
                }
            }
        },
        {
            "parameters": {
                "operation": "getAll",
                "tableId": "dimension_analyses",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "version_id",
                            "keyValue": "={{ $json.version_id }}"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                1600,
                400
            ],
            "id": "c1f72e9d-16a7-4b8c-9c71-3d2f5a6b7c8d",
            "name": "Count Completed",
            "credentials": {
                "supabaseApi": {
                    "id": "FTSugGkqwnuu6irz",
                    "name": "SupaStack"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "return { count: $input.all().length };"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1700,
                400
            ],
            "id": "agg837-count-node-id",
            "name": "Aggregate Count"
        },
        {
            "parameters": {
                "conditions": {
                    "number": [
                        {
                            "value1": "={{ $json.count }}",
                            "operation": "equal",
                            "value2": "={{ $('Aggregate Search Results').first().json.totalDimensions }}"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1800,
                400
            ],
            "id": "d2e83f0a-27b8-5c9d-0d82-4e3f6b7c9d0e",
            "name": "Is Last Dimension"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://n8n.srv957266.hstgr.cloud/webhook/7c59a781-7798-448e-8ff0-e50dcb418b52",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "assessment_version_id",
                            "value": "={{ $('Aggregate Search Results').first().json.assessmentVersionId }}"
                        },
                        {
                            "name": "assessment_id",
                            "value": "={{ $('Aggregate Search Results').first().json.assessmentId }}"
                        },
                        {
                            "name": "organization_id",
                            "value": "={{ $('Aggregate Search Results').first().json.organizationId }}"
                        },
                        {
                            "name": "id",
                            "value": "={{ $('Aggregate Search Results').first().json.organizationId }}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                2000,
                400
            ],
            "id": "e3f94g1b-38c9-6d0e-1e93-5f4g7h8i9j0k",
            "name": "Trigger Report Gen"
        }
    ],
    "pinData": {},
    "connections": {
        "Dimension Input Trigger": {
            "main": [
                [
                    {
                        "node": "Search Query Generator",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Sonnet 4 - Query Gen": {
            "ai_languageModel": [
                [
                    {
                        "node": "Search Query Generator",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Search Query Generator": {
            "main": [
                [
                    {
                        "node": "Parse Search Queries",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Search Queries": {
            "main": [
                [
                    {
                        "node": "Batch Queries",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Batch Queries": {
            "main": [
                [
                    {
                        "node": "Aggregate Search Results",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Tavily Search",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Rate Limit Wait": {
            "main": [
                [
                    {
                        "node": "Batch Queries",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Aggregate Search Results": {
            "main": [
                [
                    {
                        "node": "Dimension Analysis Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Sonnet 4.5 - Analysis": {
            "ai_languageModel": [
                [
                    {
                        "node": "Dimension Analysis Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Dimension Analysis Agent": {
            "main": [
                [
                    {
                        "node": "Prepare for Supabase",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare for Supabase": {
            "main": [
                [
                    {
                        "node": "Insert Dimension Analysis",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Tavily Search": {
            "main": [
                [
                    {
                        "node": "Rate Limit Wait",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Insert Dimension Analysis": {
            "main": [
                [
                    {
                        "node": "Return Success",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Count Completed",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Count Completed": {
            "main": [
                [
                    {
                        "node": "Aggregate Count",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Aggregate Count": {
            "main": [
                [
                    {
                        "node": "Is Last Dimension",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Last Dimension": {
            "main": [
                [
                    {
                        "node": "Trigger Report Gen",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1",
        "callerPolicy": "workflowsFromSameOwner",
        "availableInMCP": false
    },
    "versionId": "de469f1d-6aa0-4df4-826f-1235f767afae",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "9409fc6d9dbdc2f160ad99bfe2f05d553e91b9654eda7be2ce638059eec72139"
    },
    "id": "JNkNI4eABZ9LgkcI",
    "tags": []
}