workflows/n8n-report-generator-workflow-final.json
{
    "name": "Report Generator - Webscan (Phase 1) - Integration",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "7c59a781-7798-448e-8ff0-e50dcb418b52",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                0,
                -80
            ],
            "id": "e9194e56-3fca-493e-81c8-e9d5c7316c3e",
            "name": "Webhook",
            "webhookId": "7c59a781-7798-448e-8ff0-e50dcb418b52"
        },
        {
            "parameters": {
                "path": "291c59b9-ea34-4068-bf04-36bb7b6a3fdd",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                -3648,
                2112
            ],
            "id": "7de73d00-6ccf-45db-b7b6-a0755a48376b",
            "name": "Webhook Trigger",
            "webhookId": "291c59b9-ea34-4068-bf04-36bb7b6a3fdd"
        },
        {
            "parameters": {
                "operation": "get",
                "tableId": "assessment_versions",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "id",
                            "keyValue": "={{ $json.body.assessment_version_id }}"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                -3392,
                2112
            ],
            "id": "cf2dcd1c-ae61-462d-b65b-098779fb7892",
            "name": "Fetch Assessment Version",
            "credentials": {
                "supabaseApi": {
                    "id": "FTSugGkqwnuu6irz",
                    "name": "SupaStack"
                }
            }
        },
        {
            "parameters": {
                "operation": "get",
                "tableId": "assessments",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "id",
                            "keyValue": "={{ $json.assessment_id }}"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                -3168,
                2112
            ],
            "id": "0e96e1f8-3985-4388-929d-c7ae50e7571d",
            "name": "Fetch Assessment",
            "credentials": {
                "supabaseApi": {
                    "id": "FTSugGkqwnuu6irz",
                    "name": "SupaStack"
                }
            }
        },
        {
            "parameters": {
                "operation": "get",
                "tableId": "organizations",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "id",
                            "keyValue": "={{ $json.organization_id }}"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                -2960,
                2112
            ],
            "id": "ea09f606-8263-4809-9e90-a7eacc222d20",
            "name": "Fetch Organization",
            "credentials": {
                "supabaseApi": {
                    "id": "FTSugGkqwnuu6irz",
                    "name": "SupaStack"
                }
            }
        },
        {
            "parameters": {
                "operation": "get",
                "tableId": "company_profiles",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "organization_id",
                            "keyValue": "={{ $json.id }}"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                -2736,
                2112
            ],
            "id": "dabc5ad6-89b8-46de-9704-20a01d328a62",
            "name": "Fetch Company Profile",
            "credentials": {
                "supabaseApi": {
                    "id": "FTSugGkqwnuu6irz",
                    "name": "SupaStack"
                }
            }
        },
        {
            "parameters": {
                "operation": "get",
                "tableId": "dimension_analyses",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "version_id",
                            "keyValue": "={{ $('Fetch Assessment Version').item.json.id }}"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                -2512,
                2112
            ],
            "id": "d4feabb4-5c7e-4815-8c90-97d28dd5f1eb",
            "name": "Fetch Dimension Analyses",
            "credentials": {
                "supabaseApi": {
                    "id": "FTSugGkqwnuu6irz",
                    "name": "SupaStack"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// ============================================================\n// CONSOLIDATE ALL DATA\n// ============================================================\n\nconst webhookData = $('Webhook Trigger').first().json;\nconst versionData = $('Fetch Assessment Version').first().json;\nconst assessmentData = $('Fetch Assessment').first().json;\nconst orgData = $('Fetch Organization').first().json;\n\n// Company profile might not exist\nlet profileData = {};\ntry {\n  profileData = $('Fetch Company Profile').first().json || {};\n} catch (e) {\n  profileData = {};\n}\n\n// Get all dimension analyses\nconst dimensionItems = $('Fetch Dimension Analyses').all();\nconst dimensions = dimensionItems.map(item => item.json);\n\n// Parse playbook content if it's a string\nlet playbookContent = assessmentData.playbook_content_snapshot;\nif (typeof playbookContent === 'string') {\n  try {\n    playbookContent = JSON.parse(playbookContent);\n  } catch (e) {\n    playbookContent = {};\n  }\n}\n\nconst assessmentType = assessmentData.assessment_type || 'gtm_readiness';\nconst playbookType = assessmentType === 'partnership' ? 'Partnership Readiness' : 'GTM AI Readiness';\n\nreturn {\n  // IDs\n  assessmentVersionId: versionData.id,\n  assessmentId: assessmentData.id,\n  organizationId: orgData.id,\n  \n  // Company Info\n  companyName: assessmentData.company_name || orgData.name || 'Unknown Company',\n  companyDomain: orgData.domain || '',\n  industry: profileData.industry_primary || orgData.industry || 'Technology',\n  industrySecondary: profileData.industry_secondary || '',\n  companySize: profileData.employee_range || orgData.company_size || 'Unknown',\n  arrRange: profileData.estimated_arr_range || orgData.arr_range || 'Unknown',\n  businessModel: profileData.business_model || '',\n  targetMarket: profileData.target_market || '',\n  classification: profileData.classification || {},\n  \n  // Assessment Info\n  assessmentType: assessmentType,\n  playbookType: playbookType,\n  versionNumber: versionData.version_number || 1,\n  versionType: versionData.version_type || 'web_scan',\n  dimensionCount: dimensions.length,\n  playbookContent: playbookContent,\n  dimensions: dimensions,\n  \n  // Timestamps\n  analysisStartedAt: versionData.started_at,\n  analysisCompletedAt: versionData.completed_at,\n  reportTriggeredAt: webhookData.triggered_at || new Date().toISOString()\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -2288,
                2112
            ],
            "id": "8f93c4ab-fd53-4ece-b9f5-ee924975dec0",
            "name": "Consolidate All Data"
        },
        {
            "parameters": {
                "jsCode": "// ============================================================\n// CALCULATE SCORES & INSIGHTS\n// ============================================================\nconst data = $input.first().json;\nconst dimensions = data.dimensions;\n\n// Helper to safely parse JSON fields (might be strings or already parsed)\nfunction safeArray(val) {\n  if (Array.isArray(val)) return val;\n  if (typeof val === 'string') {\n    try { return JSON.parse(val); } catch(e) { return []; }\n  }\n  return [];\n}\n\n// Calculate Overall Score (capped at 55% for webscan)\nconst totalWeightedScore = dimensions.reduce((sum, d) => sum + (parseFloat(d.weighted_score) || 0), 0);\nconst maxWebscanScore = 55;\nconst rawOverallScore = Math.round(totalWeightedScore);\nconst overallScore = Math.min(rawOverallScore, maxWebscanScore);\n\n// Determine Maturity Level\nlet maturityLevel;\nif (overallScore <= 20) maturityLevel = 'Reactive';\nelse if (overallScore <= 35) maturityLevel = 'Developing';\nelse if (overallScore <= 50) maturityLevel = 'Defined';\nelse maturityLevel = 'Defined (Webscan Max)';\n\n// Calculate Confidence\nconst avgConfidence = Math.round(\n  dimensions.reduce((sum, d) => sum + (d.confidence_score || 50), 0) / dimensions.length\n);\n\nlet confidenceCategory;\nif (avgConfidence >= 70) confidenceCategory = 'validated';\nelse if (avgConfidence >= 50) confidenceCategory = 'informed_estimate';\nelse if (avgConfidence >= 30) confidenceCategory = 'low_confidence';\nelse confidenceCategory = 'insufficient_data';\n\n// Sort Dimensions\nconst sortedByScoreAsc = [...dimensions].sort((a, b) => (a.raw_score || 0) - (b.raw_score || 0));\nconst sortedByScoreDesc = [...dimensions].sort((a, b) => (b.raw_score || 0) - (a.raw_score || 0));\n\n// Top Gaps (3 lowest)\nconst topGaps = sortedByScoreAsc.slice(0, 3).map(d => ({\n  dimensionKey: d.dimension_key,\n  dimensionName: d.dimension_name,\n  score: d.raw_score,\n  maturityLevel: d.maturity_level,\n  gaps: safeArray(d.gaps),\n  topGap: safeArray(d.gaps)[0] || null\n}));\n\n// Top Strengths (3 highest)\nconst topStrengths = sortedByScoreDesc.slice(0, 3).map(d => ({\n  dimensionKey: d.dimension_key,\n  dimensionName: d.dimension_name,\n  score: d.raw_score,\n  maturityLevel: d.maturity_level,\n  strengths: safeArray(d.strengths),\n  topStrength: safeArray(d.strengths)[0] || null\n}));\n\n// Aggregate Quick Wins\nconst allQuickWins = dimensions.flatMap(d => \n  safeArray(d.quick_wins).map(qw => ({ ...qw, dimensionKey: d.dimension_key, dimensionName: d.dimension_name }))\n).slice(0, 10);\n\n// Aggregate Recommendations\nconst allRecommendations = dimensions.flatMap(d => \n  safeArray(d.recommendations).map(r => ({ ...r, dimensionKey: d.dimension_key, dimensionName: d.dimension_name }))\n);\n\n// Format Dimensions\nconst formattedDimensions = dimensions.map(d => ({\n  key: d.dimension_key,\n  name: d.dimension_name,\n  weight: d.dimension_weight,\n  rawScore: d.raw_score || 0,\n  weightedScore: d.weighted_score || 0,\n  maturityLevel: d.maturity_level || 'Unknown',\n  confidenceScore: d.confidence_score || 50,\n  confidenceCategory: d.confidence_category || 'informed_estimate',\n  summary: d.analysis_summary || '',\n  strengths: safeArray(d.strengths),\n  gaps: safeArray(d.gaps),\n  quickWins: safeArray(d.quick_wins),\n  recommendations: safeArray(d.recommendations),\n  limitations: safeArray(d.limitations),\n  evidenceSources: safeArray(d.evidence_sources)\n}));\n\n// Dimension Scores Map\nconst dimensionScoresMap = {};\nformattedDimensions.forEach(d => {\n  dimensionScoresMap[d.key] = { score: d.rawScore, level: d.maturityLevel, confidence: d.confidenceScore };\n});\n\nreturn {\n  ...data,\n  overallScore,\n  rawOverallScore,\n  maxWebscanScore,\n  maturityLevel,\n  avgConfidence,\n  confidenceCategory,\n  topGaps,\n  topStrengths,\n  allQuickWins,\n  allRecommendations,\n  formattedDimensions,\n  dimensionScoresMap,\n  reportGeneratedAt: new Date().toISOString(),\n  stageNumber: 1,\n  stageName: 'Webscan Analysis'\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -2080,
                2112
            ],
            "id": "c0a77eb4-a1c1-498a-aa7c-56e11c0775ee",
            "name": "Calculate Scores"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "# TASK\nAnalyze the provided Company Context and write the Executive Summary.\n\n# INPUT DATA\n- Company: {{ $json.companyName }}\n- Industry: {{ $json.industry }}\n- Overall Score: {{ $json.overallScore }}/100\n- Maturity Level: {{ $json.maturityLevel }}\n- Top Strengths: {{ JSON.stringify($json.topStrengths) }}\n- Top Gaps: {{ JSON.stringify($json.topGaps) }}\n- Quick Wins: {{ JSON.stringify($json.allQuickWins.slice(0,3)) }}\n\n# REQUIRED OUTPUT FORMAT\n{\n  \"section_1_paragraph_1\": \"First paragraph text...\",\n  \"section_1_paragraph_2\": \"Second paragraph text...\",\n  \"section_1_central_finding\": \"One sentence central insight...\",\n  \"section_1_commercial_para_1\": \"Commercial impact paragraph 1...\",\n  \"section_1_commercial_para_2\": \"Commercial impact paragraph 2...\",\n  \"strategic_choice_header\": \" The Strategic Pivot\",\n  \"strategic_choices\": [\n    { \"title\": \"Choice A\", \"description\": \"Description...\" },\n    { \"title\": \"Choice B\", \"description\": \"Description...\" }\n  ]\n}\n",
                "options": {
                    "systemMessage": "# ROLE\nYou are a senior business strategist. Your task is to write the Executive Summary for a Strategic Assessment Report.\n\n# RULES\n1. Tone: Professional, advisory, McKinsey-style.\n2. Output STRICT JSON only. No markdown formatting (no ```json ... ``` blocks).\n3. Do not include introductory text. Start and end with curly braces.\n"
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.7,
            "position": [
                -1776,
                1840
            ],
            "id": "dbc5da30-7d86-4d0d-a7fb-b8e613201a7c",
            "name": "Executive Summary Agent"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "# TASK\nAnalyze the {{ $('Calculate Scores').item.json.dimensionCount }} dimensions provided below.\n\n# COMPANY CONTEXT\n- Company: {{ $('Calculate Scores').item.json.companyName }}\n- Industry: {{ $('Calculate Scores').item.json.industry }}\n- Overall Score: {{ $('Calculate Scores').item.json.overallScore }}/100\n\n# INPUT DATA\n{{ JSON.stringify($('Calculate Scores').item.json.formattedDimensions, null, 2) }}\n\n# REQUIRED OUTPUT FORMAT\n[\n  {\n    \"dimension_name\": \"Name\",\n    \"dimension_key\": \"key\",\n    \"score\": 42,\n    \"maturity_level\": \"Developing\",\n    \"score_context\": \"Analysis...\",\n    \"key_finding\": \"Finding...\",\n    \"critical_gap\": \"Gap...\",\n    \"priority_action\": \"Action...\"\n  }\n]\n",
                "options": {
                    "systemMessage": "# ROLE\nYou are a senior business analyst. Your task is to analyze specific business dimensions based on score data.\n\n# RULES\n1. Provide structured, actionable analysis for EACH dimension.\n2. Output STRICT JSON array only.\n3. Be specific and data-driven.\n"
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.7,
            "position": [
                -1664,
                2112
            ],
            "id": "061e08bb-f3b2-449f-b962-5b54b54e797b",
            "name": "Dimension Analysis Agent"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "# TASK\nCreate an implementation roadmap based on the gaps and recommendations.\n\n# COMPANY CONTEXT\n- Company: {{ $('Calculate Scores').item.json.companyName }}\n- Current Maturity: {{ $('Calculate Scores').item.json.overallScore }}/100\n\n# INPUT DATA\nTOP GAPS: {{ JSON.stringify($('Calculate Scores').item.json.topGaps, null, 2) }}\nQUICK WINS: {{ JSON.stringify($('Calculate Scores').item.json.allQuickWins, null, 2) }}\nRECOMMENDATIONS: {{ JSON.stringify($('Calculate Scores').item.json.allRecommendations, null, 2) }}\n\n# REQUIRED OUTPUT FORMAT\n{\n  \"phase1\": {\n    \"name\": \"Foundation\",\n    \"timeline\": \"Months 1-3\",\n    \"focus\": \"...\",\n    \"initiatives\": [ { \"title\": \"...\", \"impact\": \"HIGH\", \"effort\": \"LOW\" } ]\n  },\n  \"phase2\": { ... },\n  \"phase3\": { ... }\n}\n",
                "options": {
                    "systemMessage": "# ROLE\nYou are a senior strategist creating an implementation roadmap.\n\n# RULES\n1. Create a logical 3-phase roadmap.\n2. Prioritize Quick Wins in Phase 1.\n3. Output STRICT JSON only.\n"
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.7,
            "position": [
                -1856,
                2304
            ],
            "id": "29027e79-152c-4668-a04e-56bfc7b1305e",
            "name": "Roadmap Agent"
        },
        {
            "parameters": {
                "jsCode": "// Prepare competitive search queries\nconst data = $input.first().json;\nconst industry = data.industry || 'technology';\n\nconst queries = [\n  `${industry} market leaders AI adoption GTM strategy 2024 2025`,\n  `${industry} SaaS companies revenue operations best practices`,\n  `top ${industry} companies technology stack comparison`\n];\n\nreturn {\n  ...data,\n  competitiveSearchQueries: queries,\n  searchQuery: queries[0]\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -1872,
                2544
            ],
            "id": "dbedb2ff-b9a6-40fb-a148-5b98746f998a",
            "name": "Prepare Search Queries"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "# TASK\nAnalyze the competitive landscape for {{ $('Calculate Scores').item.json.companyName }}.\n\n# COMPANY CONTEXT\n- Industry: {{ $('Calculate Scores').item.json.industry }}\n- Maturity Score: {{ $('Calculate Scores').item.json.overallScore }}/100\n\n# COMPETITIVE RESEARCH DATA\n{{ JSON.stringify($('Tavily Search').item.json, null, 2) }}\n\n# REQUIRED OUTPUT FORMAT\n{\n  \"market_overview\": \"...\",\n  \"market_segments\": [ ... ],\n  \"company_position\": { ... },\n  \"competitive_advantages\": [ ... ],\n  \"competitive_threats\": [ ... ]\n}\n",
                "options": {
                    "systemMessage": "# ROLE\nYou are a competitive intelligence analyst.\n\n# RULES\n1. Synthesize the provided search results into a market position analysis.\n2. Be objective and cite sources where possible.\n3. Output STRICT JSON only.\n"
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.7,
            "position": [
                -1552,
                2432
            ],
            "id": "2a2ddf40-3e86-4142-af10-4db462b97fee",
            "name": "Competitive Analysis Agent"
        },
        {
            "parameters": {
                "model": "anthropic/claude-sonnet-4.5",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
            "typeVersion": 1,
            "position": [
                -1616,
                2672
            ],
            "id": "1159b6c7-0c1e-47f7-b8f5-caa73748f45a",
            "name": "Claude Sonnet 4",
            "credentials": {
                "openRouterApi": {
                    "id": "DPnbXJEN5OpXBJeM",
                    "name": "OpenRouter account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// ============================================================\n// AGGREGATE RAW AGENT OUTPUTS\n// ============================================================\n\nconst baseData = $('Calculate Scores').first().json;\nconst publicTemplate = $('Fetch Public Template').first().json;\n\nconst execSummaryOutput = $('Executive Summary Agent').first().json.output || '';\nconst dimensionOutput = $('Dimension Analysis Agent').first().json.output || '[]';\nconst roadmapOutput = $('Roadmap Agent').first().json.output || '{}';\nconst competitiveOutput = $('Competitive Analysis Agent').first().json.output || '{}';\n\nfunction safeParseJSON(str, fallback) {\n  try {\n    const jsonMatch = str.match(/```(?:json)?\\n?([\\s\\S]*?)\\n?```/);\n    if (jsonMatch) return JSON.parse(jsonMatch[1]);\n    return JSON.parse(str);\n  } catch (e) {\n    return fallback;\n  }\n}\n\nconst dimensionAnalysis = safeParseJSON(dimensionOutput, []);\nconst roadmap = safeParseJSON(roadmapOutput, {});\nconst competitiveAnalysis = safeParseJSON(competitiveOutput, {});\n\nconst agentOutputsRaw = {\n  executive_summary_agent: {\n    output: execSummaryOutput,\n    model: 'claude-sonnet-4',\n    generated_at: new Date().toISOString()\n  },\n  dimension_analysis_agent: {\n    output: dimensionOutput,\n    parsed: dimensionAnalysis,\n    model: 'claude-sonnet-4',\n    generated_at: new Date().toISOString()\n  },\n  roadmap_agent: {\n    output: roadmapOutput,\n    parsed: roadmap,\n    model: 'claude-sonnet-4',\n    generated_at: new Date().toISOString()\n  },\n  competitive_analysis_agent: {\n    output: competitiveOutput,\n    parsed: competitiveAnalysis,\n    model: 'claude-sonnet-4',\n    generated_at: new Date().toISOString(),\n    sources: competitiveAnalysis.sources || []\n  }\n};\n\nreturn {\n  publicTemplate,\n  ...baseData,\n  agentOutputsRaw,\n  executiveSummary: execSummaryOutput,\n  dimensionAnalysis,\n  roadmap,\n  competitiveAnalysis\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -864,
                2160
            ],
            "id": "cb72f19e-b0a5-4152-8a8a-b80ee7736125",
            "name": "Aggregate Raw Outputs"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "# TASK\nMerge the following data into the HTML Template.\n\n# HTML TEMPLATE\n{{ $('Fetch Report Template').first().json.template_html }}\n\n# DATA TO MERGE\n- Company Info: {{ JSON.stringify($json, null, 2) }}\n- Executive Summary: {{ $('Aggregate Raw Outputs').first().json.executiveSummary }}\n- Dimension Analysis: {{ JSON.stringify($('Aggregate Raw Outputs').first().json.dimensionAnalysis, null, 2) }}\n- Roadmap: {{ JSON.stringify($('Aggregate Raw Outputs').first().json.roadmap, null, 2) }}\n- Competitive: {{ JSON.stringify($('Aggregate Raw Outputs').first().json.competitiveAnalysis, null, 2) }}\n\n# DATA VARIABLES (For Handlebars)\nAvailable in context: {{ $json.dimensionCount }}, {{ $json.avgConfidence }}, etc.\n",
                "options": {
                    "systemMessage": "# ROLE\nYou are a precise HTML Report Compiler. Your ONLY job is to merge structured data into the provided HTML Template.\n\n# RULES\n1. DO NOT rewrite content. Use provided data exactly.\n2. DO NOT change the CSS or Structure.\n3. Output VALID HTML starting with <!DOCTYPE html>.\n4. Do not wrap output in markdown code blocks.\n"
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.7,
            "position": [
                -640,
                2160
            ],
            "id": "50a958a3-920c-4823-a6ba-475e8c79c407",
            "name": "Unification Agent"
        },
        {
            "parameters": {
                "jsCode": "// Parse HTML Output\nconst agentOutput = $('Unification Agent').first().json.output || '';\n\n// Clean up the output - remove any markdown code blocks if present\nlet html = agentOutput.trim();\nif (html.startsWith('```html')) {\n  html = html.replace(/^```html\\n?/, '').replace(/\\n?```$/, '');\n} else if (html.startsWith('```')) {\n  html = html.replace(/^```\\n?/, '').replace(/\\n?```$/, '');\n}\n\n// Validate it starts with DOCTYPE\nif (!html.toLowerCase().startsWith('<!doctype html>')) {\n  // Try to find the doctype\n  const doctypeIndex = html.toLowerCase().indexOf('<!doctype html>');\n  if (doctypeIndex > -1) {\n    html = html.substring(doctypeIndex);\n  } else {\n    throw new Error('Agent output does not contain valid HTML document');\n  }\n}\n\n// Validate it ends with </html>\nif (!html.toLowerCase().endsWith('</html>')) {\n  const htmlEndIndex = html.toLowerCase().lastIndexOf('</html>');\n  if (htmlEndIndex > -1) {\n    html = html.substring(0, htmlEndIndex + 7);\n  }\n}\n\nconst data = $input.first().json;\n\nreturn {\n  ...data,\n  reportHtml: html,\n  htmlLength: html.length,\n  generatedAt: new Date().toISOString()\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -288,
                2160
            ],
            "id": "71007bd2-1b38-4d94-a27d-e10597344284",
            "name": "Parse Unified Output"
        },
        {
            "parameters": {
                "tableId": "assessment_results",
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "version_id",
                            "fieldValue": "={{ $('Aggregate Raw Outputs').first().json.assessmentVersionId }}"
                        },
                        {
                            "fieldId": "executive_summary",
                            "fieldValue": "={{ $('Aggregate Raw Outputs').first().json.executiveSummary }}"
                        },
                        {
                            "fieldId": "critical_gaps",
                            "fieldValue": "={{ JSON.stringify($('Aggregate Raw Outputs').first().json.topGaps) }}"
                        },
                        {
                            "fieldId": "quick_wins",
                            "fieldValue": "={{ JSON.stringify($('Aggregate Raw Outputs').first().json.allQuickWins) }}"
                        },
                        {
                            "fieldId": "transformation_roadmap",
                            "fieldValue": "={{ JSON.stringify($('Aggregate Raw Outputs').first().json.allRecommendations) }}"
                        },
                        {
                            "fieldId": "report_html",
                            "fieldValue": "={{ $json.reportHtml }}"
                        },
                        {
                            "fieldId": "dimension_scores",
                            "fieldValue": "={{ JSON.stringify($('Aggregate Raw Outputs').first().json.dimensionScoresMap) }}"
                        },
                        {
                            "fieldId": "overall_score",
                            "fieldValue": "={{ $('Aggregate Raw Outputs').item.json.overallScore }}"
                        },
                        {
                            "fieldId": "confidence_score",
                            "fieldValue": "={{ $('Aggregate Raw Outputs').item.json.avgConfidence }}"
                        },
                        {
                            "fieldId": "report_html_public",
                            "fieldValue": "={{ $json.reportHtmlPublic }}"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                944,
                2256
            ],
            "id": "7f250ec6-efa3-4adc-8b82-d2a1538f357a",
            "name": "Save Assessment Results",
            "credentials": {
                "supabaseApi": {
                    "id": "FTSugGkqwnuu6irz",
                    "name": "SupaStack"
                }
            }
        },
        {
            "parameters": {
                "operation": "update",
                "tableId": "prospects",
                "updateKey": "company_domain",
                "columns": "report_html, status, confidence_score, company_domain, report_html_public",
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "report_html",
                            "fieldValue": "={{ $json.reportHtml }}"
                        },
                        {
                            "fieldId": "status",
                            "fieldValue": "completed"
                        },
                        {
                            "fieldId": "confidence_score",
                            "fieldValue": "={{ $('Aggregate Raw Outputs').first().json.overallScore }}"
                        },
                        {
                            "fieldId": "company_domain",
                            "fieldValue": "={{ $json.companyDomain }}"
                        },
                        {
                            "fieldId": "report_html_public",
                            "fieldValue": "={{ $json.reportHtmlPublic }}"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                1264,
                2272
            ],
            "id": "6ebc24e8-ee37-44fc-9c2b-8456a97ab0b0",
            "name": "Update Prospect",
            "credentials": {
                "supabaseApi": {
                    "id": "FTSugGkqwnuu6irz",
                    "name": "SupaStack"
                }
            }
        },
        {
            "parameters": {
                "numberInputs": 6
            },
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3.2,
            "position": [
                -1104,
                2144
            ],
            "id": "bd89872c-885d-4340-9ec8-35fe2965c9bf",
            "name": "Merge"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.tavily.com/search",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "api_key",
                            "value": "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"
                        },
                        {
                            "name": "query",
                            "value": "={{ $json.companyName }} competitors"
                        },
                        {
                            "name": "search_depth",
                            "value": "advanced"
                        },
                        {
                            "name": "max_results",
                            "value": "30"
                        },
                        {
                            "name": "include_answer",
                            "value": true
                        },
                        {
                            "name": "include_raw_content",
                            "value": false
                        }
                    ]
                },
                "options": {}
            },
            "id": "bb55c79c-2049-4d90-8aba-0485e01c8da5",
            "name": "Tavily Search",
            "type": "n8n-nodes-base.httpRequest",
            "position": [
                -1712,
                2480
            ],
            "typeVersion": 3,
            "executeOnce": false
        },
        {
            "parameters": {
                "model": "anthropic/claude-opus-4.5",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
            "typeVersion": 1,
            "position": [
                -720,
                2368
            ],
            "id": "0947de06-ff39-4f4b-a09e-903c37d3424a",
            "name": "OpenRouter Chat Model",
            "credentials": {
                "openRouterApi": {
                    "id": "DPnbXJEN5OpXBJeM",
                    "name": "OpenRouter account"
                }
            }
        },
        {
            "parameters": {
                "operation": "get",
                "tableId": "report_templates",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "is_active",
                            "keyValue": "={{ true }}"
                        },
                        {
                            "keyName": "slug",
                            "keyValue": "=report_2_strategic_assessment"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                -1776,
                2752
            ],
            "id": "f6e2f89d-f1ce-4b1b-9ff1-870961b5aff7",
            "name": "Fetch Report Template",
            "credentials": {
                "supabaseApi": {
                    "id": "FTSugGkqwnuu6irz",
                    "name": "SupaStack"
                }
            }
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "# TASK\nMerge the data into the PUBLIC HTML Template.\n\n# PUBLIC TEMPLATE\n{{ $json.publicTemplate.template_html }}\n\n# DATA TO MERGE\n- Company Info: {{ JSON.stringify($json, null, 2) }}\n- Agent Outputs: {{ JSON.stringify($('Aggregate Raw Outputs').first().json.agentOutputsRaw, null, 2) }}\n\n# EXECUTION\nGenerate the Public HTML now.\n",
                "options": {
                    "systemMessage": "# ROLE\nYou are a Report Compiler for the PUBLIC PREVIEW version of the report.\n\n# RULES\n1. MERGE ALL DATA NORMALLY. Do NOT redact or hide data yourself.\n2. The template handles obscuring via CSS ('blur-content' class).\n3. You MUST populate the underlying data so the layout renders correctly behind the blur.\n4. Output VALID HTML starting with <!DOCTYPE html>.\n"
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.7,
            "position": [
                -214,
                2460
            ],
            "id": "5ce450ea-e5ee-4098-a0cf-1506f24ec026",
            "name": "Public Unification Agent"
        },
        {
            "parameters": {
                "jsCode": "// Parse HTML Output\nconst agentOutput = $('Public Unification Agent').first().json.output || '';\n\n// Clean up the output - remove any markdown code blocks if present\nlet html = agentOutput.trim();\nif (html.startsWith('```html')) {\n  html = html.replace(/^```html\\n?/, '').replace(/\\n?```$/, '');\n} else if (html.startsWith('```')) {\n  html = html.replace(/^```\\n?/, '').replace(/\\n?```$/, '');\n}\n\n// Validate it starts with DOCTYPE\nif (!html.toLowerCase().startsWith('<!doctype html>')) {\n  // Try to find the doctype\n  const doctypeIndex = html.toLowerCase().indexOf('<!doctype html>');\n  if (doctypeIndex > -1) {\n    html = html.substring(doctypeIndex);\n  } else {\n    throw new Error('Agent output does not contain valid HTML document');\n  }\n}\n\n// Validate it ends with </html>\nif (!html.toLowerCase().endsWith('</html>')) {\n  const htmlEndIndex = html.toLowerCase().lastIndexOf('</html>');\n  if (htmlEndIndex > -1) {\n    html = html.substring(0, htmlEndIndex + 7);\n  }\n}\n\nconst data = $input.first().json;\n\nreturn {\n  ...data,\n  reportHtmlPublic: html,\n  htmlLength: html.length,\n  generatedAt: new Date().toISOString()\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -88,
                2360
            ],
            "id": "d78aa903-d1e7-4eab-8e32-8c719f160a5f",
            "name": "Parse Public Output"
        },
        {
            "parameters": {
                "mode": "mergeByPosition"
            },
            "id": "8deb71d8-8758-479b-a381-f74a4b1697a4",
            "name": "Merge Reports",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3,
            "position": [
                12,
                2160
            ]
        },
        {
            "parameters": {
                "operation": "get",
                "tableId": "report_templates",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "slug",
                            "keyValue": "report_obscure_strategic_assessment"
                        },
                        {
                            "keyName": "is_active",
                            "keyValue": "={{ true }}"
                        }
                    ]
                }
            },
            "id": "1b5dcb48-4355-4f15-8907-9d3cc79ccc37",
            "name": "Fetch Public Template",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                -1760,
                2960
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "FTSugGkqwnuu6irz",
                    "name": "SupaStack"
                }
            }
        }
    ],
    "pinData": {},
    "connections": {
        "Webhook": {
            "main": [
                []
            ]
        },
        "Webhook Trigger": {
            "main": [
                [
                    {
                        "node": "Fetch Assessment Version",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Assessment Version": {
            "main": [
                [
                    {
                        "node": "Fetch Assessment",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Assessment": {
            "main": [
                [
                    {
                        "node": "Fetch Organization",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Organization": {
            "main": [
                [
                    {
                        "node": "Fetch Company Profile",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Company Profile": {
            "main": [
                [
                    {
                        "node": "Fetch Dimension Analyses",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Dimension Analyses": {
            "main": [
                [
                    {
                        "node": "Consolidate All Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Consolidate All Data": {
            "main": [
                [
                    {
                        "node": "Calculate Scores",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Calculate Scores": {
            "main": [
                [
                    {
                        "node": "Executive Summary Agent",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Dimension Analysis Agent",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Roadmap Agent",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Prepare Search Queries",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Fetch Report Template",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Fetch Public Template",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Claude Sonnet 4": {
            "ai_languageModel": [
                [
                    {
                        "node": "Executive Summary Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    },
                    {
                        "node": "Dimension Analysis Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    },
                    {
                        "node": "Roadmap Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    },
                    {
                        "node": "Competitive Analysis Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Search Queries": {
            "main": [
                [
                    {
                        "node": "Tavily Search",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Executive Summary Agent": {
            "main": [
                [
                    {
                        "node": "Merge",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Dimension Analysis Agent": {
            "main": [
                [
                    {
                        "node": "Merge",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Roadmap Agent": {
            "main": [
                [
                    {
                        "node": "Merge",
                        "type": "main",
                        "index": 2
                    }
                ]
            ]
        },
        "Competitive Analysis Agent": {
            "main": [
                [
                    {
                        "node": "Merge",
                        "type": "main",
                        "index": 3
                    }
                ]
            ]
        },
        "Aggregate Raw Outputs": {
            "main": [
                [
                    {
                        "node": "Unification Agent",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Public Unification Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Unification Agent": {
            "main": [
                [
                    {
                        "node": "Parse Unified Output",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Unified Output": {
            "main": [
                [
                    {
                        "node": "Merge Reports",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Tavily Search": {
            "main": [
                [
                    {
                        "node": "Competitive Analysis Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge": {
            "main": [
                [
                    {
                        "node": "Aggregate Raw Outputs",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenRouter Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "Unification Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    },
                    {
                        "node": "Public Unification Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Report Template": {
            "main": [
                [
                    {
                        "node": "Merge",
                        "type": "main",
                        "index": 4
                    }
                ]
            ]
        },
        "Save Assessment Results": {
            "main": [
                []
            ]
        },
        "Public Unification Agent": {
            "main": [
                [
                    {
                        "node": "Parse Public Output",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Public Output": {
            "main": [
                [
                    {
                        "node": "Merge Reports",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Merge Reports": {
            "main": [
                [
                    {
                        "node": "Save Assessment Results",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Update Prospect",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Public Template": {
            "main": [
                [
                    {
                        "node": "Merge",
                        "type": "main",
                        "index": 5
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1",
        "availableInMCP": false
    },
    "versionId": "ffb9a7a9-2633-47ce-9dfe-62c13df4c6c0",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "9409fc6d9dbdc2f160ad99bfe2f05d553e91b9654eda7be2ce638059eec72139"
    },
    "id": "4FJzSvWmSfgHN02P",
    "tags": []
}