workflows/phase2/ig0YNPdQmYaQX9ds.json
{"updatedAt":"2026-02-22T01:02:43.062Z","createdAt":"2026-02-19T12:29:26.667Z","id":"ig0YNPdQmYaQX9ds","name":"Phase 2 - Document Processor-ANK","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Phase 2 Document Upload","formDescription":"Upload documents for strategic assessment","formFields":{"values":[{"fieldLabel":"Assessment ID","placeholder":"Enter the assessment UUID","requiredField":true},{"fieldLabel":"Stage","fieldType":"dropdown","fieldOptions":{"values":[{"option":"web_scan"},{"option":"strategic"},{"option":"strategic_validated"},{"option":"execution"},{"option":"requirements"}]},"requiredField":true},{"fieldLabel":"Documents","fieldType":"file","acceptFileTypes":".pdf,.doc,.docx,.xls,.xlsx,.csv,.ppt,.pptx,.txt,.mp4,.avi,.mov,.jpg,.jpeg,.png,.gif,.webp","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[2576,1456],"id":"16172c4f-89c5-48f0-b15d-0655abe68291","name":"Document Upload Form","webhookId":"24857ce1-4f74-4999-89d8-c4503a16070d"},{"parameters":{"jsCode":"// Phase 2 Document Processor - Initialize\nconst staticData = $getWorkflowStaticData('global');\nconst item = $input.first();\n\n// Get form fields\nconst assessmentId = item.json['Assessment ID'];\nconst stage = item.json['Stage'];\n\nif (!assessmentId) {\n  throw new Error('Assessment ID is required');\n}\n\nif (!stage) {\n  throw new Error('Stage is required');\n}\n\n// Store in static data\nstaticData.assessmentId = assessmentId;\nstaticData.stage = stage;\nstaticData.processingStartedAt = new Date().toISOString();\nstaticData.processedDocuments = [];\n\n// Count files\nconst binaryKeys = item.binary ? Object.keys(item.binary) : [];\nstaticData.totalDocuments = binaryKeys.length;\n\nconsole.log(`Phase 2 initialized for assessment: ${assessmentId}`);\nconsole.log(`Stage: ${stage}`);\nconsole.log(`Files to process: ${binaryKeys.length}`);\n\n// Pass to assessment query\nreturn [{ \n  json: { \n    assessmentId: assessmentId,\n    stage: stage,\n    totalFiles: binaryKeys.length\n  },\n  binary: item.binary \n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2896,1456],"id":"f6ec223d-2241-45b8-84b3-876d630a6053","name":"Initialize"},{"parameters":{"operation":"getAll","tableId":"assessment_versions","limit":1,"filterType":"string","filterString":"=assessment_id=eq.{{ $json.assessmentId }}&stage=eq.{{ $('Document Upload Form').first().json.Stage }}&order=iteration.desc&limit=1"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3584,1456],"id":"2c654007-ee2f-4753-86de-f309efb65edb","name":"Get Latest Version","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"FTSugGkqwnuu6irz","name":"SupaStack"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Prepare version - check if stage exists for this assessment\nconst staticData = $getWorkflowStaticData('global');\nconst results = $input.all();\nconst stage = staticData.stage;\nconst assessmentId = staticData.assessmentId;\n\n// Check if a version already exists for this stage\nconst existingStageVersion = results.find(v => v.json.stage === stage);\n\nif (existingStageVersion) {\n  // STAGE EXISTS - Add to existing version\n  const versionId = existingStageVersion.json.id;\n  const iteration = existingStageVersion.json.iteration || 1;\n  \n  console.log(`Using EXISTING ${stage} version: ${versionId} (iteration ${iteration})`);\n  console.log(`Adding ${staticData.totalDocuments} documents to existing version`);\n  \n  // Store for later use\n  staticData.versionId = versionId;\n  staticData.iteration = iteration;\n  staticData.useExistingVersion = true;\n  \n  return [{\n    json: {\n      createNew: false,\n      existingVersionId: versionId,\n      existingIteration: iteration,\n      assessment_id: assessmentId,\n      stage: stage\n    }\n  }];\n} else {\n  // STAGE DOES NOT EXIST - Create new version for this stage\n  const iteration = 1;\n  \n  console.log(`Creating NEW ${stage} version (iteration ${iteration})`);\n  \n  // Store for later use\n  staticData.iteration = iteration;\n  staticData.useExistingVersion = false;\n  \n  return [{\n    json: {\n      createNew: true,\n      assessment_id: assessmentId,\n      stage: stage,\n      iteration: iteration,\n      status: 'processing',\n      trigger_reason: 'document_upload',\n      documents_submitted: staticData.totalDocuments\n    }\n  }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3792,1456],"id":"6ca500d3-d451-4d82-923c-132c25b2e139","name":"Prepare New Version"},{"parameters":{"tableId":"assessment_versions","fieldsUi":{"fieldValues":[{"fieldId":"assessment_id","fieldValue":"={{ $json.assessment_id }}"},{"fieldId":"stage","fieldValue":"={{ $json.stage }}"},{"fieldId":"iteration","fieldValue":"={{ $json.iteration }}"},{"fieldId":"status","fieldValue":"={{ $json.status }}"},{"fieldId":"trigger_reason","fieldValue":"={{ $json.trigger_reason }}"},{"fieldId":"documents_submitted","fieldValue":"={{ $json.documents_submitted }}"},{"fieldId":"version_number","fieldValue":"={{ $json.iteration }}"},{"fieldId":"version_type","fieldValue":"={{ $json.stage }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4320,1376],"id":"c49cd39f-6c9b-427f-b5ae-75ccc1a16493","name":"Create Stage Version","credentials":{"supabaseApi":{"id":"FTSugGkqwnuu6irz","name":"SupaStack"}}},{"parameters":{"jsCode":"// Store new version ID and continue to file processing\nconst staticData = $getWorkflowStaticData('global');\nconst newVersion = $input.first().json;\n\nstaticData.versionId = newVersion.id;\nstaticData.stage = newVersion.stage;\nstaticData.iteration = newVersion.iteration;\n\nconsole.log(`Created ${newVersion.stage} version: ${newVersion.id} (iteration ${newVersion.iteration})`);\n\n// Get binary data from Initialize node\nconst initData = $('Initialize').first();\n\nreturn [{\n  json: {\n    assessmentId: staticData.assessmentId,\n    versionId: newVersion.id,\n    stage: newVersion.stage,\n    iteration: newVersion.iteration\n  },\n  binary: initData.binary\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4544,1376],"id":"fe484f62-ab60-415f-bd39-627a26a1b490","name":"Store Version"},{"parameters":{"jsCode":"// Classify all uploaded files\nconst staticData = $getWorkflowStaticData('global');\nconst item = $input.first();\nconst allFiles = [];\n\nif (item.binary) {\n  const binaryKeys = Object.keys(item.binary);\n  \n  binaryKeys.forEach((binaryKey, fileIndex) => {\n    const binaryData = item.binary[binaryKey];\n    \n    if (binaryData) {\n      const fileName = binaryData.fileName || `file_${binaryKey}`;\n      const mimeType = binaryData.mimeType || '';\n      const fileSize = binaryData.fileSize || 0;\n      \n      // Classify file type\n      let fileType = 'unknown';\n      let processingRoute = 'text_extraction';\n      \n      if (fileName.endsWith('.pdf') || mimeType.includes('pdf')) {\n        fileType = 'pdf';\n        processingRoute = 'pdf_extraction';\n      }\n      else if (fileName.endsWith('.docx') || fileName.endsWith('.doc') || \n               mimeType.includes('wordprocessingml') || mimeType.includes('msword')) {\n        fileType = 'word';\n        processingRoute = 'word_extraction';\n      }\n      else if (fileName.endsWith('.csv') || mimeType.includes('csv')) {\n        fileType = 'csv';\n        processingRoute = 'csv_extraction';\n      }\n      else if (fileName.endsWith('.xlsx') || fileName.endsWith('.xls') || \n               mimeType.includes('spreadsheet') || mimeType.includes('excel')) {\n        fileType = 'excel';\n        processingRoute = 'excel_extraction';\n      }\n      else if (fileName.endsWith('.pptx') || fileName.endsWith('.ppt') || \n               mimeType.includes('presentationml') || mimeType.includes('powerpoint')) {\n        fileType = 'pptx';\n        processingRoute = 'ppt_extraction';\n      }\n      else if (fileName.endsWith('.txt') || mimeType.includes('text/plain')) {\n        fileType = 'text';\n        processingRoute = 'direct_text';\n      }\n      else if (fileName.endsWith('.mp4') || fileName.endsWith('.avi') || \n               fileName.endsWith('.mov') || mimeType.includes('video')) {\n        fileType = 'video';\n        processingRoute = 'video_transcription';\n      }\n      else if (fileName.endsWith('.jpg') || fileName.endsWith('.jpeg') || \n               fileName.endsWith('.png') || fileName.endsWith('.gif') || \n               fileName.endsWith('.webp') || mimeType.includes('image')) {\n        fileType = 'image';\n        processingRoute = 'image_ocr';\n      }\n      \n      allFiles.push({\n        json: {\n          assessmentId: staticData.assessmentId,\n          versionId: staticData.versionId,\n          fileName: fileName,\n          fileType: fileType,\n          processingRoute: processingRoute,\n          mimeType: mimeType,\n          fileSize: fileSize,\n          binaryPropertyName: binaryKey,\n          fileIndex: fileIndex,\n          totalFiles: binaryKeys.length\n        },\n        binary: {\n          data: binaryData\n        }\n      });\n    }\n  });\n}\n\nif (allFiles.length === 0) {\n  throw new Error('No files found to process');\n}\n\nconsole.log(`Classified ${allFiles.length} files for processing`);\nreturn allFiles;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4816,1472],"id":"4437839d-0ccc-43a5-a94e-9b2ce586ffd1","name":"Classify Files"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[5088,1456],"id":"3232c85d-13f8-4d14-a848-eadac4a7183f","name":"Loop Files"},{"parameters":{"jsCode":"// Store processing result with Unstructured.io metadata\nconst staticData = $getWorkflowStaticData('global');\nconst item = $input.first();\n\n// Initialize error tracking if not exists\nif (!staticData.processingErrors) {\n  staticData.processingErrors = [];\n}\n\n// Check if this item is an error\nconst isError = item.json.error !== undefined;\n\nif (isError) {\n  // Log the error\n  const errorDetails = {\n    fileName: item.json.fileName || 'unknown',\n    fileType: item.json.fileType || 'unknown',\n    error: item.json.error,\n    errorMessage: item.json.errorMessage || 'No error message',\n    timestamp: new Date().toISOString()\n  };\n  \n  staticData.processingErrors.push(errorDetails);\n  console.error(`Error processing ${errorDetails.fileName}: ${errorDetails.errorMessage}`);\n  \n  return [{\n    json: {\n      fileName: errorDetails.fileName,\n      fileType: errorDetails.fileType,\n      status: 'error',\n      error: errorDetails.error,\n      processedText: '',\n      metadata: {},\n      extractedContent: '',\n      chunks: [],\n      totalChunks: 0\n    },\n    pairedItem: item.pairedItem\n  }];\n}\n\n// Success case - process with semantic chunking\nconst text = item.json.processedText || '';\nconst metadata = item.json.metadata || {};\nconst rawElements = item.json._rawElements || [];\n\n// Semantic chunking based on Unstructured.io elements\nconst chunks = [];\nlet currentChunk = '';\nlet chunkIndex = 0;\nconst maxChunkSize = 3000; // characters per chunk\n\nrawElements.forEach((element, idx) => {\n  const elementText = element.text || '';\n  \n  // Start new chunk if:\n  // 1. Current chunk would exceed max size\n  // 2. Element is a Title (new section)\n  if (currentChunk.length + elementText.length > maxChunkSize || \n      (element.type === 'Title' && currentChunk.length > 500)) {\n    if (currentChunk.trim().length > 0) {\n      chunks.push({\n        chunkIndex: chunkIndex,\n        content: currentChunk.trim(),\n        charCount: currentChunk.length,\n        tokenCount: Math.ceil(currentChunk.length / 4)\n      });\n      chunkIndex++;\n      currentChunk = '';\n    }\n  }\n  \n  currentChunk += elementText + '\\n\\n';\n});\n\n// Add final chunk\nif (currentChunk.trim().length > 0) {\n  chunks.push({\n    chunkIndex: chunkIndex,\n    content: currentChunk.trim(),\n    charCount: currentChunk.length,\n    tokenCount: Math.ceil(currentChunk.length / 4)\n  });\n}\n\nconst result = {\n  fileName: item.json.fileName,\n  fileType: item.json.fileType,\n  extractedContent: text,\n  charCount: text.length,\n  wordCount: text.split(/\\s+/).length,\n  estimatedTokens: Math.ceil(text.length / 4),\n  extractionMethod: 'unstructured_api',\n  metadata: metadata,\n  chunks: chunks,\n  totalChunks: chunks.length,\n  status: 'success'\n};\n\nstaticData.processedDocuments.push(result);\n\nconsole.log(`Successfully processed: ${result.fileName} (${result.fileType})`);\nconsole.log(`  - Elements: ${metadata.totalElements || 0}`);\nconsole.log(`  - Images: ${metadata.imageCount || 0}`);\nconsole.log(`  - Tables: ${metadata.tableCount || 0}`);\nconsole.log(`  - Chunks: ${chunks.length}`);\n\nreturn [{\n  json: result,\n  pairedItem: item.pairedItem\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6784,1712],"id":"2133c198-87d1-4610-9452-ae30c38169cd","name":"Store Result"},{"parameters":{"jsCode":"// Prepare document_metadata records for all documents\nconst staticData = $getWorkflowStaticData('global');\nconst allDocs = staticData.processedDocuments || [];\n\n// Get IDs from staticData (where they were stored during version creation)\nconst assessmentId = staticData.assessmentId;\nconst versionId = staticData.versionId;\n\nconsole.log(`Preparing ${allDocs.length} documents for database`);\nconsole.log(`Assessment ID: ${assessmentId}`);\nconsole.log(`Version ID: ${versionId}`);\n\nif (!assessmentId || !versionId) {\n  throw new Error(`Missing IDs - assessmentId: ${assessmentId}, versionId: ${versionId}`);\n}\n\nreturn allDocs.map(d => ({\n  json: {\n    assessment_id: assessmentId,\n    version_id: versionId,\n    original_filename: d.fileName,\n    file_type: d.fileType,\n    file_size_bytes: d.charCount || 0,\n    processing_status: 'processing',\n    word_count: d.wordCount || null,\n    page_count: d.pageCount || d.slideCount || null,\n    row_count: d.rowCount || null,\n    sheet_count: d.sheetCount || null,\n    duration_seconds: d.durationSeconds || null,\n    token_count: d.estimatedTokens || null,\n    extraction_model: d.extractionMethod,\n    processing_started_at: staticData.processingStartedAt,\n    // Pass through for chunk insertion\n    _chunks: d.chunks,\n    _totalChunks: d.totalChunks,\n    _extractedContent: d.extractedContent\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[7200,1456],"id":"09667c47-0bef-42a1-a70a-1ae6944190f0","name":"Prepare Metadata"},{"parameters":{"tableId":"document_metadata","fieldsUi":{"fieldValues":[{"fieldId":"assessment_id","fieldValue":"={{ $json.assessment_id }}"},{"fieldId":"version_id","fieldValue":"={{ $json.version_id }}"},{"fieldId":"original_filename","fieldValue":"={{ $json.original_filename }}"},{"fieldId":"file_type","fieldValue":"={{ $json.file_type }}"},{"fieldId":"file_size_bytes","fieldValue":"={{ $json.file_size_bytes }}"},{"fieldId":"processing_status","fieldValue":"={{ $json.processing_status }}"},{"fieldId":"word_count","fieldValue":"={{ $json.word_count }}"},{"fieldId":"page_count","fieldValue":"={{ $json.page_count }}"},{"fieldId":"row_count","fieldValue":"={{ $json.row_count }}"},{"fieldId":"sheet_count","fieldValue":"={{ $json.sheet_count }}"},{"fieldId":"token_count","fieldValue":"={{ $json.token_count }}"},{"fieldId":"extraction_model","fieldValue":"={{ $json.extraction_model }}"},{"fieldId":"processing_started_at","fieldValue":"={{ $json.processing_started_at }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[7424,1456],"id":"d319a3fb-e3f7-428d-bddd-c21b97b6ab94","name":"Insert Document Metadata","credentials":{"supabaseApi":{"id":"FTSugGkqwnuu6irz","name":"SupaStack"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Combine metadata response with chunks for insertion\nconst staticData = $getWorkflowStaticData('global');\nconst metadataResults = $input.all();\nconst allDocs = staticData.processedDocuments || [];\n\n// Get organization_id and assessment_id from static data\nconst organizationId = staticData.organizationId;\nconst assessmentId = staticData.assessmentId;\n\nif (!organizationId) {\n  throw new Error('organization_id not found in static data');\n}\nif (!assessmentId) {\n  throw new Error('assessment_id not found in static data');\n}\n\n// Create chunk records for all documents\nconst allChunks = [];\n\nmetadataResults.forEach((result, docIndex) => {\n  const documentId = result.json.id;\n  const versionId = result.json.version_id;\n  const originalDoc = allDocs[docIndex] || {};\n  const chunks = originalDoc.chunks || [];\n  \n  chunks.forEach(chunk => {\n    allChunks.push({\n      json: {\n        organization_id: organizationId,\n        assessment_id: assessmentId,\n        version_id: versionId,\n        document_id: documentId,\n        chunk_index: chunk.chunkIndex,\n        total_chunks: chunks.length,\n        content_text: chunk.content,\n        char_count: chunk.charCount,\n        token_count: chunk.tokenCount,\n        page_range: chunk.pageRange || null,\n        slide_range: chunk.slideRange || null,\n        row_range: chunk.rowRange || null,\n        sheet_name: chunk.sheetName || null,\n        processing_status: 'pending'\n      }\n    });\n  });\n});\n\nconsole.log(`Prepared ${allChunks.length} chunks for insertion`);\nconsole.log(`Organization: ${organizationId}, Assessment: ${assessmentId}`);\nreturn allChunks;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[7648,1456],"id":"e228afea-fe27-4341-8c84-05c0248125c7","name":"Prepare Chunks"},{"parameters":{"tableId":"document_chunks","fieldsUi":{"fieldValues":[{"fieldId":"organization_id","fieldValue":"={{ $json.organization_id }}"},{"fieldId":"assessment_id","fieldValue":"={{ $json.assessment_id }}"},{"fieldId":"version_id","fieldValue":"={{ $json.version_id }}"},{"fieldId":"document_id","fieldValue":"={{ $json.document_id }}"},{"fieldId":"chunk_index","fieldValue":"={{ $json.chunk_index }}"},{"fieldId":"total_chunks","fieldValue":"={{ $json.total_chunks }}"},{"fieldId":"content_text","fieldValue":"={{ $json.content_text }}"},{"fieldId":"char_count","fieldValue":"={{ $json.char_count }}"},{"fieldId":"token_count","fieldValue":"={{ $json.token_count }}"},{"fieldId":"page_range","fieldValue":"={{ $json.page_range }}"},{"fieldId":"slide_range","fieldValue":"={{ $json.slide_range }}"},{"fieldId":"row_range","fieldValue":"={{ $json.row_range }}"},{"fieldId":"sheet_name","fieldValue":"={{ $json.sheet_name }}"},{"fieldId":"processing_status","fieldValue":"={{ $json.processing_status }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[7872,1456],"id":"b8a496e2-0cd6-4a51-99dd-47ee231d3468","name":"Insert Chunks","credentials":{"supabaseApi":{"id":"FTSugGkqwnuu6irz","name":"SupaStack"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Prepare final output with processing summary\nconst staticData = $getWorkflowStaticData('global');\nconst categorizerResult = $input.first().json;\n\nconst totalDocuments = staticData.totalDocuments || 0;\nconst successfulDocuments = staticData.processedDocuments?.length || 0;\nconst failedDocuments = staticData.processingErrors?.length || 0;\n\nconst summary = {\n  assessmentId: staticData.assessmentId,\n  versionId: staticData.versionId,\n  stage: staticData.stage,\n  iteration: staticData.iteration,\n  organizationId: staticData.organizationId,\n  \n  // Processing stats\n  totalDocuments: totalDocuments,\n  successfulDocuments: successfulDocuments,\n  failedDocuments: failedDocuments,\n  successRate: totalDocuments > 0 ? ((successfulDocuments / totalDocuments) * 100).toFixed(1) + '%' : '0%',\n  \n  // Processing times\n  processingStartedAt: staticData.processingStartedAt,\n  processingCompletedAt: new Date().toISOString(),\n  \n  // Categorization result\n  categorization: categorizerResult,\n  \n  // Error details if any\n  errors: staticData.processingErrors || [],\n  \n  // Status\n  status: failedDocuments === 0 ? 'completed' : 'completed_with_errors',\n  message: failedDocuments === 0 \n    ? `Successfully processed all ${totalDocuments} documents`\n    : `Processed ${successfulDocuments}/${totalDocuments} documents. ${failedDocuments} failed.`\n};\n\nconsole.log('=== PROCESSING COMPLETE ===');\nconsole.log(`Total: ${totalDocuments}`);\nconsole.log(`Success: ${successfulDocuments}`);\nconsole.log(`Failed: ${failedDocuments}`);\nconsole.log(`Success Rate: ${summary.successRate}`);\n\nif (failedDocuments > 0) {\n  console.log('\\nFailed documents:');\n  staticData.processingErrors.forEach(err => {\n    console.log(`- ${err.fileName}: ${err.errorMessage}`);\n  });\n}\n\nreturn [{ json: summary }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[8080,1456],"id":"a1ef6260-0ae0-4832-90a1-83e16ecd4cd2","name":"Prepare Output"},{"parameters":{"operation":"get","tableId":"assessments","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.assessmentId }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3136,1456],"id":"baa1fde7-7d79-43dc-91e1-b8d25e7da72e","name":"Get Assessment","credentials":{"supabaseApi":{"id":"FTSugGkqwnuu6irz","name":"SupaStack"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Store organization_id from assessment\nconst staticData = $getWorkflowStaticData('global');\nconst assessment = $input.first().json;\nconst initData = $('Initialize').first();\n\nif (!assessment.organization_id) {\n  throw new Error('Assessment does not have organization_id');\n}\n\nstaticData.organizationId = assessment.organization_id;\n\nconsole.log(`Found organization_id: ${assessment.organization_id}`);\n\n// Pass through to version check\nreturn [{\n  json: {\n    assessmentId: staticData.assessmentId,\n    organizationId: assessment.organization_id,\n    totalFiles: staticData.totalDocuments\n  },\n  binary: initData.binary\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3360,1456],"id":"fe817b9b-6f15-4760-a1b6-aa0284e2bc20","name":"Store Org ID"},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.createNew }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"},"id":"f6b4e29b-199c-426f-99f2-287a35e0326c"}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3984,1456],"id":"99f15ae2-9f9b-4ba9-a1de-c320a6733095","name":"Create or Use Existing?"},{"parameters":{"jsCode":"// Use existing version - skip creation\nconst staticData = $getWorkflowStaticData('global');\nconst input = $input.first().json;\n\n// Already stored in staticData from Prepare New Version\nconsole.log(`Using existing ${input.stage} version: ${input.existingVersionId} (iteration ${input.existingIteration})`);\n\n// Get binary data from Initialize node\nconst initData = $('Initialize').first();\n\nreturn [{\n  json: {\n    assessmentId: staticData.assessmentId,\n    versionId: input.existingVersionId,\n    stage: input.stage,\n    iteration: input.existingIteration,\n    isExistingVersion: true\n  },\n  binary: initData.binary\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4336,1600],"id":"df34094f-f307-45eb-b7ce-724bb253f74b","name":"Use Existing Version"},{"parameters":{"jsCode":"// Prepare document_content records for full text storage\n// This runs in parallel with Prepare Chunks\nconst staticData = $getWorkflowStaticData('global');\nconst metadataResults = $input.all();\nconst allDocs = staticData.processedDocuments || [];\n\n// Get organization_id and assessment_id from static data\nconst organizationId = staticData.organizationId;\nconst assessmentId = staticData.assessmentId;\nconst versionId = staticData.versionId;\n\nif (!organizationId) {\n  throw new Error('organization_id not found in static data');\n}\nif (!assessmentId) {\n  throw new Error('assessment_id not found in static data');\n}\n\n// Create content records for all documents\nconst allContent = [];\n\nmetadataResults.forEach((result, docIndex) => {\n  const documentId = result.json.id;\n  const originalDoc = allDocs[docIndex] || {};\n  \n  allContent.push({\n    json: {\n      organization_id: organizationId,\n      assessment_id: assessmentId,\n      version_id: versionId,\n      document_id: documentId,\n      extracted_content: originalDoc.extractedContent || '',\n      char_count: originalDoc.charCount || 0,\n      word_count: originalDoc.wordCount || 0,\n      token_count: originalDoc.estimatedTokens || 0,\n      extraction_method: originalDoc.extractionMethod || null,\n      analysis_status: 'pending'\n    }\n  });\n});\n\nconsole.log(`Prepared ${allContent.length} document content records for insertion`);\nreturn allContent;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[7648,1216],"id":"de0b26c9-d027-4604-a1b0-df06841b6de3","name":"Prepare Content"},{"parameters":{"tableId":"document_content","fieldsUi":{"fieldValues":[{"fieldId":"organization_id","fieldValue":"={{ $json.organization_id }}"},{"fieldId":"assessment_id","fieldValue":"={{ $json.assessment_id }}"},{"fieldId":"version_id","fieldValue":"={{ $json.version_id }}"},{"fieldId":"document_id","fieldValue":"={{ $json.document_id }}"},{"fieldId":"extracted_content","fieldValue":"={{ $json.extracted_content }}"},{"fieldId":"char_count","fieldValue":"={{ $json.char_count }}"},{"fieldId":"word_count","fieldValue":"={{ $json.word_count }}"},{"fieldId":"token_count","fieldValue":"={{ $json.token_count }}"},{"fieldId":"extraction_method","fieldValue":"={{ $json.extraction_method }}"},{"fieldId":"analysis_status","fieldValue":"={{ $json.analysis_status }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[7872,1216],"id":"089dc07b-e844-4579-b676-3833415add04","name":"Insert document content","credentials":{"supabaseApi":{"id":"FTSugGkqwnuu6irz","name":"SupaStack"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.unstructuredapp.io/general/v0/general","sendHeaders":true,"headerParameters":{"parameters":[{"name":"unstructured-api-key","value":"ym60Vm1px1im0HP0l8Lo9lFwGR5RSi"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"files","inputDataFieldName":"data"},{"name":"strategy","value":"={{ $json.extractionStrategy }}"}]},"options":{}},"id":"eb0201b2-8357-4d9f-8341-eeb072af957d","name":"Unstructured.io Extract","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[5792,1648],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Process Unstructured.io API response - SINGLE ELEMENT FIX\nconst item = $input.first();\nconst loopData = $('Loop Files').first().json;\n\n// Check for HTTP errors\nif (item.json.error || item.json.statusCode >= 400) {\n  return [{\n    json: {\n      fileName: loopData.fileName,\n      fileType: loopData.fileType,\n      status: 'error',\n      error: item.json.error || 'HTTP_ERROR',\n      errorMessage: item.json.message || `HTTP ${item.json.statusCode}`,\n      processedText: '',\n      metadata: {}\n    }\n  }];\n}\n\n// Response is a SINGLE element object, not an array\nconst element = item.json;\n\n// Check if it's a valid element\nif (!element.type || !element.text) {\n  console.error('Invalid element structure:', Object.keys(element));\n  return [{\n    json: {\n      fileName: loopData.fileName,\n      fileType: loopData.fileType,\n      status: 'error',\n      error: 'INVALID_ELEMENT',\n      errorMessage: `Element missing type or text. Keys: ${Object.keys(element).join(', ')}`,\n      processedText: '',\n      metadata: {}\n    }\n  }];\n}\n\n// Single element - wrap in array for consistent processing\nconst elements = [element];\n\n// Extract text\nconst allText = element.text || '';\n\n// Detect type\nconst isImage = element.type === 'Image';\nconst isTable = element.type === 'Table';\n\n// Build metadata\nconst metadata = {\n  extractionMethod: 'unstructured_api',\n  totalElements: 1,\n  hasImages: isImage,\n  imageCount: isImage ? 1 : 0,\n  hasTables: isTable,\n  tableCount: isTable ? 1 : 0,\n  characterCount: allText.length,\n  elementTypes: [element.type]\n};\n\nconsole.log(`✅ Processed ${loopData.fileName}: type=${element.type}, chars=${allText.length}`);\n\nreturn [{\n  json: {\n    fileName: loopData.fileName,\n    fileType: loopData.fileType,\n    processedText: allText,\n    metadata: metadata,\n    status: 'success',\n    _rawElements: elements\n  }\n}];"},"id":"f84550f4-4b6f-4d6e-8647-6ebe2f6c69d1","name":"Process Unstructured Output","type":"n8n-nodes-base.code","typeVersion":1,"position":[6096,1600]},{"parameters":{"jsCode":"// Smart strategy selection\nconst item = $input.first();\nconst fileName = item.json.fileName || '';\nconst fileType = item.json.fileType || '';\nconst fileSize = item.json.fileSize || 0;\n\nlet strategy = 'hi_res';\nlet reasoning = 'Complex document';\n\nif (fileType === 'text' || fileType === 'csv') {\n  strategy = 'fast';\n  reasoning = 'Plain text';\n} else if (fileType === 'word') {\n  strategy = 'fast';\n  reasoning = 'Word document';\n} else if (fileType === 'pdf' && fileSize < 1000000) {\n  strategy = 'fast';\n  reasoning = 'Small PDF';\n}\n\nconsole.log(`${fileName}: ${strategy} (${reasoning})`);\n\nreturn [{\n  json: {...item.json, extractionStrategy: strategy},\n  binary: item.binary\n}];"},"id":"3126505b-36f9-40ec-9a15-932f08d22599","name":"Select Extraction Strategy","type":"n8n-nodes-base.code","typeVersion":2,"position":[5440,1648]},{"parameters":{"workflowId":{"__rl":true,"value":"1ynOLUqzJRBweKUj","mode":"list","cachedResultUrl":"/workflow/1ynOLUqzJRBweKUj","cachedResultName":"Phase 2 - Document Categorizer + Dimension Dispatch ANK"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[8336,1440],"id":"4ccdab20-e0db-4773-801d-191e746fd6c1","name":"Call 'Phase 2 - Document Categorizer + Dimension Dispatch ANK'","onError":"continueRegularOutput"}],"connections":{"Document Upload Form":{"main":[[{"node":"Initialize","type":"main","index":0}]]},"Initialize":{"main":[[{"node":"Get Assessment","type":"main","index":0}]]},"Get Latest Version":{"main":[[{"node":"Prepare New Version","type":"main","index":0}]]},"Prepare New Version":{"main":[[{"node":"Create or Use Existing?","type":"main","index":0}]]},"Create Stage Version":{"main":[[{"node":"Store Version","type":"main","index":0}]]},"Store Version":{"main":[[{"node":"Classify Files","type":"main","index":0}]]},"Classify Files":{"main":[[{"node":"Loop Files","type":"main","index":0}]]},"Loop Files":{"main":[[{"node":"Prepare Metadata","type":"main","index":0}],[{"node":"Select Extraction Strategy","type":"main","index":0}]]},"Store Result":{"main":[[{"node":"Loop Files","type":"main","index":0}]]},"Prepare Metadata":{"main":[[{"node":"Insert Document Metadata","type":"main","index":0}]]},"Insert Document Metadata":{"main":[[{"node":"Prepare Content","type":"main","index":0},{"node":"Prepare Chunks","type":"main","index":0}]]},"Prepare Chunks":{"main":[[{"node":"Insert Chunks","type":"main","index":0}]]},"Insert Chunks":{"main":[[{"node":"Prepare Output","type":"main","index":0}]]},"Get Assessment":{"main":[[{"node":"Store Org ID","type":"main","index":0}]]},"Store Org ID":{"main":[[{"node":"Get Latest Version","type":"main","index":0}]]},"Prepare Output":{"main":[[{"node":"Call 'Phase 2 - Document Categorizer + Dimension Dispatch ANK'","type":"main","index":0}]]},"Create or Use Existing?":{"main":[[{"node":"Create Stage Version","type":"main","index":0}],[{"node":"Use Existing Version","type":"main","index":0}]]},"Use Existing Version":{"main":[[{"node":"Classify Files","type":"main","index":0}]]},"Prepare Content":{"main":[[{"node":"Insert document content","type":"main","index":0}]]},"Unstructured.io Extract":{"main":[[{"node":"Process Unstructured Output","type":"main","index":0}]]},"Process Unstructured Output":{"main":[[{"node":"Store Result","type":"main","index":0}]]},"Select Extraction Strategy":{"main":[[{"node":"Unstructured.io Extract","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2f894519-2d17-472f-a714-49fb7cc2e4b1","activeVersionId":"1d9afd5e-d6ba-4218-8cb9-58de796d1027","versionCounter":160,"triggerCount":1,"shared":[{"updatedAt":"2026-02-19T12:29:26.679Z","createdAt":"2026-02-19T12:29:26.679Z","role":"workflow:owner","workflowId":"ig0YNPdQmYaQX9ds","projectId":"DVYglwqlfMJuM9zT","project":{"updatedAt":"2025-10-05T18:15:43.115Z","createdAt":"2025-08-13T20:40:27.041Z","id":"DVYglwqlfMJuM9zT","name":"Laksh Agrawal <laksh@supastack.ai>","type":"personal","icon":null,"description":null,"creatorId":"ec164287-6cde-4606-b0c4-9d4cd30c3b98","projectRelations":[{"updatedAt":"2025-08-13T20:40:27.041Z","createdAt":"2025-08-13T20:40:27.041Z","userId":"ec164287-6cde-4606-b0c4-9d4cd30c3b98","projectId":"DVYglwqlfMJuM9zT","user":{"updatedAt":"2026-02-22T00:41:30.000Z","createdAt":"2025-08-13T20:40:26.693Z","id":"ec164287-6cde-4606-b0c4-9d4cd30c3b98","email":"laksh@supastack.ai","firstName":"Laksh","lastName":"Agrawal","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-08-13T20:49:45.872Z","personalization_survey_n8n_version":"1.106.3","companyIndustryExtended":[],"companyType":"other"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"omMzGXpD7rLUfAFm","userActivatedAt":1755124587490,"npsSurvey":{"responded":true,"lastShownAt":1759741367883}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-21","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-22T01:02:15.000Z","createdAt":"2026-02-22T00:51:04.274Z","versionId":"1d9afd5e-d6ba-4218-8cb9-58de796d1027","workflowId":"ig0YNPdQmYaQX9ds","nodes":[{"parameters":{"formTitle":"Phase 2 Document Upload","formDescription":"Upload documents for strategic assessment","formFields":{"values":[{"fieldLabel":"Assessment ID","placeholder":"Enter the assessment UUID","requiredField":true},{"fieldLabel":"Stage","fieldType":"dropdown","fieldOptions":{"values":[{"option":"web_scan"},{"option":"strategic"},{"option":"strategic_validated"},{"option":"execution"},{"option":"requirements"}]},"requiredField":true},{"fieldLabel":"Documents","fieldType":"file","acceptFileTypes":".pdf,.doc,.docx,.xls,.xlsx,.csv,.ppt,.pptx,.txt,.mp4,.avi,.mov,.jpg,.jpeg,.png,.gif,.webp","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[2576,1456],"id":"16172c4f-89c5-48f0-b15d-0655abe68291","name":"Document Upload Form","webhookId":"24857ce1-4f74-4999-89d8-c4503a16070d"},{"parameters":{"jsCode":"// Phase 2 Document Processor - Initialize\nconst staticData = $getWorkflowStaticData('global');\nconst item = $input.first();\n\n// Get form fields\nconst assessmentId = item.json['Assessment ID'];\nconst stage = item.json['Stage'];\n\nif (!assessmentId) {\n  throw new Error('Assessment ID is required');\n}\n\nif (!stage) {\n  throw new Error('Stage is required');\n}\n\n// Store in static data\nstaticData.assessmentId = assessmentId;\nstaticData.stage = stage;\nstaticData.processingStartedAt = new Date().toISOString();\nstaticData.processedDocuments = [];\n\n// Count files\nconst binaryKeys = item.binary ? Object.keys(item.binary) : [];\nstaticData.totalDocuments = binaryKeys.length;\n\nconsole.log(`Phase 2 initialized for assessment: ${assessmentId}`);\nconsole.log(`Stage: ${stage}`);\nconsole.log(`Files to process: ${binaryKeys.length}`);\n\n// Pass to assessment query\nreturn [{ \n  json: { \n    assessmentId: assessmentId,\n    stage: stage,\n    totalFiles: binaryKeys.length\n  },\n  binary: item.binary \n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2896,1456],"id":"f6ec223d-2241-45b8-84b3-876d630a6053","name":"Initialize"},{"parameters":{"operation":"getAll","tableId":"assessment_versions","limit":1,"filterType":"string","filterString":"=assessment_id=eq.{{ $json.assessmentId }}&stage=eq.{{ $('Document Upload Form').first().json.Stage }}&order=iteration.desc&limit=1"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3584,1456],"id":"2c654007-ee2f-4753-86de-f309efb65edb","name":"Get Latest Version","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"FTSugGkqwnuu6irz","name":"SupaStack"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Prepare version - check if stage exists for this assessment\nconst staticData = $getWorkflowStaticData('global');\nconst results = $input.all();\nconst stage = staticData.stage;\nconst assessmentId = staticData.assessmentId;\n\n// Check if a version already exists for this stage\nconst existingStageVersion = results.find(v => v.json.stage === stage);\n\nif (existingStageVersion) {\n  // STAGE EXISTS - Add to existing version\n  const versionId = existingStageVersion.json.id;\n  const iteration = existingStageVersion.json.iteration || 1;\n  \n  console.log(`Using EXISTING ${stage} version: ${versionId} (iteration ${iteration})`);\n  console.log(`Adding ${staticData.totalDocuments} documents to existing version`);\n  \n  // Store for later use\n  staticData.versionId = versionId;\n  staticData.iteration = iteration;\n  staticData.useExistingVersion = true;\n  \n  return [{\n    json: {\n      createNew: false,\n      existingVersionId: versionId,\n      existingIteration: iteration,\n      assessment_id: assessmentId,\n      stage: stage\n    }\n  }];\n} else {\n  // STAGE DOES NOT EXIST - Create new version for this stage\n  const iteration = 1;\n  \n  console.log(`Creating NEW ${stage} version (iteration ${iteration})`);\n  \n  // Store for later use\n  staticData.iteration = iteration;\n  staticData.useExistingVersion = false;\n  \n  return [{\n    json: {\n      createNew: true,\n      assessment_id: assessmentId,\n      stage: stage,\n      iteration: iteration,\n      status: 'processing',\n      trigger_reason: 'document_upload',\n      documents_submitted: staticData.totalDocuments\n    }\n  }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3792,1456],"id":"6ca500d3-d451-4d82-923c-132c25b2e139","name":"Prepare New Version"},{"parameters":{"tableId":"assessment_versions","fieldsUi":{"fieldValues":[{"fieldId":"assessment_id","fieldValue":"={{ $json.assessment_id }}"},{"fieldId":"stage","fieldValue":"={{ $json.stage }}"},{"fieldId":"iteration","fieldValue":"={{ $json.iteration }}"},{"fieldId":"status","fieldValue":"={{ $json.status }}"},{"fieldId":"trigger_reason","fieldValue":"={{ $json.trigger_reason }}"},{"fieldId":"documents_submitted","fieldValue":"={{ $json.documents_submitted }}"},{"fieldId":"version_number","fieldValue":"={{ $json.iteration }}"},{"fieldId":"version_type","fieldValue":"={{ $json.stage }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4320,1376],"id":"c49cd39f-6c9b-427f-b5ae-75ccc1a16493","name":"Create Stage Version","credentials":{"supabaseApi":{"id":"FTSugGkqwnuu6irz","name":"SupaStack"}}},{"parameters":{"jsCode":"// Store new version ID and continue to file processing\nconst staticData = $getWorkflowStaticData('global');\nconst newVersion = $input.first().json;\n\nstaticData.versionId = newVersion.id;\nstaticData.stage = newVersion.stage;\nstaticData.iteration = newVersion.iteration;\n\nconsole.log(`Created ${newVersion.stage} version: ${newVersion.id} (iteration ${newVersion.iteration})`);\n\n// Get binary data from Initialize node\nconst initData = $('Initialize').first();\n\nreturn [{\n  json: {\n    assessmentId: staticData.assessmentId,\n    versionId: newVersion.id,\n    stage: newVersion.stage,\n    iteration: newVersion.iteration\n  },\n  binary: initData.binary\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4544,1376],"id":"fe484f62-ab60-415f-bd39-627a26a1b490","name":"Store Version"},{"parameters":{"jsCode":"// Classify all uploaded files\nconst staticData = $getWorkflowStaticData('global');\nconst item = $input.first();\nconst allFiles = [];\n\nif (item.binary) {\n  const binaryKeys = Object.keys(item.binary);\n  \n  binaryKeys.forEach((binaryKey, fileIndex) => {\n    const binaryData = item.binary[binaryKey];\n    \n    if (binaryData) {\n      const fileName = binaryData.fileName || `file_${binaryKey}`;\n      const mimeType = binaryData.mimeType || '';\n      const fileSize = binaryData.fileSize || 0;\n      \n      // Classify file type\n      let fileType = 'unknown';\n      let processingRoute = 'text_extraction';\n      \n      if (fileName.endsWith('.pdf') || mimeType.includes('pdf')) {\n        fileType = 'pdf';\n        processingRoute = 'pdf_extraction';\n      }\n      else if (fileName.endsWith('.docx') || fileName.endsWith('.doc') || \n               mimeType.includes('wordprocessingml') || mimeType.includes('msword')) {\n        fileType = 'word';\n        processingRoute = 'word_extraction';\n      }\n      else if (fileName.endsWith('.csv') || mimeType.includes('csv')) {\n        fileType = 'csv';\n        processingRoute = 'csv_extraction';\n      }\n      else if (fileName.endsWith('.xlsx') || fileName.endsWith('.xls') || \n               mimeType.includes('spreadsheet') || mimeType.includes('excel')) {\n        fileType = 'excel';\n        processingRoute = 'excel_extraction';\n      }\n      else if (fileName.endsWith('.pptx') || fileName.endsWith('.ppt') || \n               mimeType.includes('presentationml') || mimeType.includes('powerpoint')) {\n        fileType = 'pptx';\n        processingRoute = 'ppt_extraction';\n      }\n      else if (fileName.endsWith('.txt') || mimeType.includes('text/plain')) {\n        fileType = 'text';\n        processingRoute = 'direct_text';\n      }\n      else if (fileName.endsWith('.mp4') || fileName.endsWith('.avi') || \n               fileName.endsWith('.mov') || mimeType.includes('video')) {\n        fileType = 'video';\n        processingRoute = 'video_transcription';\n      }\n      else if (fileName.endsWith('.jpg') || fileName.endsWith('.jpeg') || \n               fileName.endsWith('.png') || fileName.endsWith('.gif') || \n               fileName.endsWith('.webp') || mimeType.includes('image')) {\n        fileType = 'image';\n        processingRoute = 'image_ocr';\n      }\n      \n      allFiles.push({\n        json: {\n          assessmentId: staticData.assessmentId,\n          versionId: staticData.versionId,\n          fileName: fileName,\n          fileType: fileType,\n          processingRoute: processingRoute,\n          mimeType: mimeType,\n          fileSize: fileSize,\n          binaryPropertyName: binaryKey,\n          fileIndex: fileIndex,\n          totalFiles: binaryKeys.length\n        },\n        binary: {\n          data: binaryData\n        }\n      });\n    }\n  });\n}\n\nif (allFiles.length === 0) {\n  throw new Error('No files found to process');\n}\n\nconsole.log(`Classified ${allFiles.length} files for processing`);\nreturn allFiles;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4816,1472],"id":"4437839d-0ccc-43a5-a94e-9b2ce586ffd1","name":"Classify Files"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[5088,1456],"id":"3232c85d-13f8-4d14-a848-eadac4a7183f","name":"Loop Files"},{"parameters":{"jsCode":"// Store processing result with Unstructured.io metadata\nconst staticData = $getWorkflowStaticData('global');\nconst item = $input.first();\n\n// Initialize error tracking if not exists\nif (!staticData.processingErrors) {\n  staticData.processingErrors = [];\n}\n\n// Check if this item is an error\nconst isError = item.json.error !== undefined;\n\nif (isError) {\n  // Log the error\n  const errorDetails = {\n    fileName: item.json.fileName || 'unknown',\n    fileType: item.json.fileType || 'unknown',\n    error: item.json.error,\n    errorMessage: item.json.errorMessage || 'No error message',\n    timestamp: new Date().toISOString()\n  };\n  \n  staticData.processingErrors.push(errorDetails);\n  console.error(`Error processing ${errorDetails.fileName}: ${errorDetails.errorMessage}`);\n  \n  return [{\n    json: {\n      fileName: errorDetails.fileName,\n      fileType: errorDetails.fileType,\n      status: 'error',\n      error: errorDetails.error,\n      processedText: '',\n      metadata: {},\n      extractedContent: '',\n      chunks: [],\n      totalChunks: 0\n    },\n    pairedItem: item.pairedItem\n  }];\n}\n\n// Success case - process with semantic chunking\nconst text = item.json.processedText || '';\nconst metadata = item.json.metadata || {};\nconst rawElements = item.json._rawElements || [];\n\n// Semantic chunking based on Unstructured.io elements\nconst chunks = [];\nlet currentChunk = '';\nlet chunkIndex = 0;\nconst maxChunkSize = 3000; // characters per chunk\n\nrawElements.forEach((element, idx) => {\n  const elementText = element.text || '';\n  \n  // Start new chunk if:\n  // 1. Current chunk would exceed max size\n  // 2. Element is a Title (new section)\n  if (currentChunk.length + elementText.length > maxChunkSize || \n      (element.type === 'Title' && currentChunk.length > 500)) {\n    if (currentChunk.trim().length > 0) {\n      chunks.push({\n        chunkIndex: chunkIndex,\n        content: currentChunk.trim(),\n        charCount: currentChunk.length,\n        tokenCount: Math.ceil(currentChunk.length / 4)\n      });\n      chunkIndex++;\n      currentChunk = '';\n    }\n  }\n  \n  currentChunk += elementText + '\\n\\n';\n});\n\n// Add final chunk\nif (currentChunk.trim().length > 0) {\n  chunks.push({\n    chunkIndex: chunkIndex,\n    content: currentChunk.trim(),\n    charCount: currentChunk.length,\n    tokenCount: Math.ceil(currentChunk.length / 4)\n  });\n}\n\nconst result = {\n  fileName: item.json.fileName,\n  fileType: item.json.fileType,\n  extractedContent: text,\n  charCount: text.length,\n  wordCount: text.split(/\\s+/).length,\n  estimatedTokens: Math.ceil(text.length / 4),\n  extractionMethod: 'unstructured_api',\n  metadata: metadata,\n  chunks: chunks,\n  totalChunks: chunks.length,\n  status: 'success'\n};\n\nstaticData.processedDocuments.push(result);\n\nconsole.log(`Successfully processed: ${result.fileName} (${result.fileType})`);\nconsole.log(`  - Elements: ${metadata.totalElements || 0}`);\nconsole.log(`  - Images: ${metadata.imageCount || 0}`);\nconsole.log(`  - Tables: ${metadata.tableCount || 0}`);\nconsole.log(`  - Chunks: ${chunks.length}`);\n\nreturn [{\n  json: result,\n  pairedItem: item.pairedItem\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6784,1712],"id":"2133c198-87d1-4610-9452-ae30c38169cd","name":"Store Result"},{"parameters":{"jsCode":"// Prepare document_metadata records for all documents\nconst staticData = $getWorkflowStaticData('global');\nconst allDocs = staticData.processedDocuments || [];\n\n// Get IDs from staticData (where they were stored during version creation)\nconst assessmentId = staticData.assessmentId;\nconst versionId = staticData.versionId;\n\nconsole.log(`Preparing ${allDocs.length} documents for database`);\nconsole.log(`Assessment ID: ${assessmentId}`);\nconsole.log(`Version ID: ${versionId}`);\n\nif (!assessmentId || !versionId) {\n  throw new Error(`Missing IDs - assessmentId: ${assessmentId}, versionId: ${versionId}`);\n}\n\nreturn allDocs.map(d => ({\n  json: {\n    assessment_id: assessmentId,\n    version_id: versionId,\n    original_filename: d.fileName,\n    file_type: d.fileType,\n    file_size_bytes: d.charCount || 0,\n    processing_status: 'processing',\n    word_count: d.wordCount || null,\n    page_count: d.pageCount || d.slideCount || null,\n    row_count: d.rowCount || null,\n    sheet_count: d.sheetCount || null,\n    duration_seconds: d.durationSeconds || null,\n    token_count: d.estimatedTokens || null,\n    extraction_model: d.extractionMethod,\n    processing_started_at: staticData.processingStartedAt,\n    // Pass through for chunk insertion\n    _chunks: d.chunks,\n    _totalChunks: d.totalChunks,\n    _extractedContent: d.extractedContent\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[7200,1456],"id":"09667c47-0bef-42a1-a70a-1ae6944190f0","name":"Prepare Metadata"},{"parameters":{"tableId":"document_metadata","fieldsUi":{"fieldValues":[{"fieldId":"assessment_id","fieldValue":"={{ $json.assessment_id }}"},{"fieldId":"version_id","fieldValue":"={{ $json.version_id }}"},{"fieldId":"original_filename","fieldValue":"={{ $json.original_filename }}"},{"fieldId":"file_type","fieldValue":"={{ $json.file_type }}"},{"fieldId":"file_size_bytes","fieldValue":"={{ $json.file_size_bytes }}"},{"fieldId":"processing_status","fieldValue":"={{ $json.processing_status }}"},{"fieldId":"word_count","fieldValue":"={{ $json.word_count }}"},{"fieldId":"page_count","fieldValue":"={{ $json.page_count }}"},{"fieldId":"row_count","fieldValue":"={{ $json.row_count }}"},{"fieldId":"sheet_count","fieldValue":"={{ $json.sheet_count }}"},{"fieldId":"token_count","fieldValue":"={{ $json.token_count }}"},{"fieldId":"extraction_model","fieldValue":"={{ $json.extraction_model }}"},{"fieldId":"processing_started_at","fieldValue":"={{ $json.processing_started_at }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[7424,1456],"id":"d319a3fb-e3f7-428d-bddd-c21b97b6ab94","name":"Insert Document Metadata","credentials":{"supabaseApi":{"id":"FTSugGkqwnuu6irz","name":"SupaStack"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Combine metadata response with chunks for insertion\nconst staticData = $getWorkflowStaticData('global');\nconst metadataResults = $input.all();\nconst allDocs = staticData.processedDocuments || [];\n\n// Get organization_id and assessment_id from static data\nconst organizationId = staticData.organizationId;\nconst assessmentId = staticData.assessmentId;\n\nif (!organizationId) {\n  throw new Error('organization_id not found in static data');\n}\nif (!assessmentId) {\n  throw new Error('assessment_id not found in static data');\n}\n\n// Create chunk records for all documents\nconst allChunks = [];\n\nmetadataResults.forEach((result, docIndex) => {\n  const documentId = result.json.id;\n  const versionId = result.json.version_id;\n  const originalDoc = allDocs[docIndex] || {};\n  const chunks = originalDoc.chunks || [];\n  \n  chunks.forEach(chunk => {\n    allChunks.push({\n      json: {\n        organization_id: organizationId,\n        assessment_id: assessmentId,\n        version_id: versionId,\n        document_id: documentId,\n        chunk_index: chunk.chunkIndex,\n        total_chunks: chunks.length,\n        content_text: chunk.content,\n        char_count: chunk.charCount,\n        token_count: chunk.tokenCount,\n        page_range: chunk.pageRange || null,\n        slide_range: chunk.slideRange || null,\n        row_range: chunk.rowRange || null,\n        sheet_name: chunk.sheetName || null,\n        processing_status: 'pending'\n      }\n    });\n  });\n});\n\nconsole.log(`Prepared ${allChunks.length} chunks for insertion`);\nconsole.log(`Organization: ${organizationId}, Assessment: ${assessmentId}`);\nreturn allChunks;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[7648,1456],"id":"e228afea-fe27-4341-8c84-05c0248125c7","name":"Prepare Chunks"},{"parameters":{"tableId":"document_chunks","fieldsUi":{"fieldValues":[{"fieldId":"organization_id","fieldValue":"={{ $json.organization_id }}"},{"fieldId":"assessment_id","fieldValue":"={{ $json.assessment_id }}"},{"fieldId":"version_id","fieldValue":"={{ $json.version_id }}"},{"fieldId":"document_id","fieldValue":"={{ $json.document_id }}"},{"fieldId":"chunk_index","fieldValue":"={{ $json.chunk_index }}"},{"fieldId":"total_chunks","fieldValue":"={{ $json.total_chunks }}"},{"fieldId":"content_text","fieldValue":"={{ $json.content_text }}"},{"fieldId":"char_count","fieldValue":"={{ $json.char_count }}"},{"fieldId":"token_count","fieldValue":"={{ $json.token_count }}"},{"fieldId":"page_range","fieldValue":"={{ $json.page_range }}"},{"fieldId":"slide_range","fieldValue":"={{ $json.slide_range }}"},{"fieldId":"row_range","fieldValue":"={{ $json.row_range }}"},{"fieldId":"sheet_name","fieldValue":"={{ $json.sheet_name }}"},{"fieldId":"processing_status","fieldValue":"={{ $json.processing_status }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[7872,1456],"id":"b8a496e2-0cd6-4a51-99dd-47ee231d3468","name":"Insert Chunks","credentials":{"supabaseApi":{"id":"FTSugGkqwnuu6irz","name":"SupaStack"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Prepare final output with processing summary\nconst staticData = $getWorkflowStaticData('global');\nconst categorizerResult = $input.first().json;\n\nconst totalDocuments = staticData.totalDocuments || 0;\nconst successfulDocuments = staticData.processedDocuments?.length || 0;\nconst failedDocuments = staticData.processingErrors?.length || 0;\n\nconst summary = {\n  assessmentId: staticData.assessmentId,\n  versionId: staticData.versionId,\n  stage: staticData.stage,\n  iteration: staticData.iteration,\n  organizationId: staticData.organizationId,\n  \n  // Processing stats\n  totalDocuments: totalDocuments,\n  successfulDocuments: successfulDocuments,\n  failedDocuments: failedDocuments,\n  successRate: totalDocuments > 0 ? ((successfulDocuments / totalDocuments) * 100).toFixed(1) + '%' : '0%',\n  \n  // Processing times\n  processingStartedAt: staticData.processingStartedAt,\n  processingCompletedAt: new Date().toISOString(),\n  \n  // Categorization result\n  categorization: categorizerResult,\n  \n  // Error details if any\n  errors: staticData.processingErrors || [],\n  \n  // Status\n  status: failedDocuments === 0 ? 'completed' : 'completed_with_errors',\n  message: failedDocuments === 0 \n    ? `Successfully processed all ${totalDocuments} documents`\n    : `Processed ${successfulDocuments}/${totalDocuments} documents. ${failedDocuments} failed.`\n};\n\nconsole.log('=== PROCESSING COMPLETE ===');\nconsole.log(`Total: ${totalDocuments}`);\nconsole.log(`Success: ${successfulDocuments}`);\nconsole.log(`Failed: ${failedDocuments}`);\nconsole.log(`Success Rate: ${summary.successRate}`);\n\nif (failedDocuments > 0) {\n  console.log('\\nFailed documents:');\n  staticData.processingErrors.forEach(err => {\n    console.log(`- ${err.fileName}: ${err.errorMessage}`);\n  });\n}\n\nreturn [{ json: summary }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[8080,1456],"id":"a1ef6260-0ae0-4832-90a1-83e16ecd4cd2","name":"Prepare Output"},{"parameters":{"operation":"get","tableId":"assessments","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.assessmentId }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3136,1456],"id":"baa1fde7-7d79-43dc-91e1-b8d25e7da72e","name":"Get Assessment","credentials":{"supabaseApi":{"id":"FTSugGkqwnuu6irz","name":"SupaStack"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Store organization_id from assessment\nconst staticData = $getWorkflowStaticData('global');\nconst assessment = $input.first().json;\nconst initData = $('Initialize').first();\n\nif (!assessment.organization_id) {\n  throw new Error('Assessment does not have organization_id');\n}\n\nstaticData.organizationId = assessment.organization_id;\n\nconsole.log(`Found organization_id: ${assessment.organization_id}`);\n\n// Pass through to version check\nreturn [{\n  json: {\n    assessmentId: staticData.assessmentId,\n    organizationId: assessment.organization_id,\n    totalFiles: staticData.totalDocuments\n  },\n  binary: initData.binary\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3360,1456],"id":"fe817b9b-6f15-4760-a1b6-aa0284e2bc20","name":"Store Org ID"},{"parameters":{"workflowId":{"__rl":true,"value":"7AO7YDrQhgAFD0xB","mode":"list","cachedResultUrl":"/workflow/7AO7YDrQhgAFD0xB","cachedResultName":"Phase 2 - Document Categorizer + Dimension Dispatch"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[8336,1440],"id":"4ccdab20-e0db-4773-801d-191e746fd6c1","name":"Call 'Phase 2 - Document Categorizer'","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.createNew }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"},"id":"f6b4e29b-199c-426f-99f2-287a35e0326c"}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3984,1456],"id":"99f15ae2-9f9b-4ba9-a1de-c320a6733095","name":"Create or Use Existing?"},{"parameters":{"jsCode":"// Use existing version - skip creation\nconst staticData = $getWorkflowStaticData('global');\nconst input = $input.first().json;\n\n// Already stored in staticData from Prepare New Version\nconsole.log(`Using existing ${input.stage} version: ${input.existingVersionId} (iteration ${input.existingIteration})`);\n\n// Get binary data from Initialize node\nconst initData = $('Initialize').first();\n\nreturn [{\n  json: {\n    assessmentId: staticData.assessmentId,\n    versionId: input.existingVersionId,\n    stage: input.stage,\n    iteration: input.existingIteration,\n    isExistingVersion: true\n  },\n  binary: initData.binary\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4336,1600],"id":"df34094f-f307-45eb-b7ce-724bb253f74b","name":"Use Existing Version"},{"parameters":{"jsCode":"// Prepare document_content records for full text storage\n// This runs in parallel with Prepare Chunks\nconst staticData = $getWorkflowStaticData('global');\nconst metadataResults = $input.all();\nconst allDocs = staticData.processedDocuments || [];\n\n// Get organization_id and assessment_id from static data\nconst organizationId = staticData.organizationId;\nconst assessmentId = staticData.assessmentId;\nconst versionId = staticData.versionId;\n\nif (!organizationId) {\n  throw new Error('organization_id not found in static data');\n}\nif (!assessmentId) {\n  throw new Error('assessment_id not found in static data');\n}\n\n// Create content records for all documents\nconst allContent = [];\n\nmetadataResults.forEach((result, docIndex) => {\n  const documentId = result.json.id;\n  const originalDoc = allDocs[docIndex] || {};\n  \n  allContent.push({\n    json: {\n      organization_id: organizationId,\n      assessment_id: assessmentId,\n      version_id: versionId,\n      document_id: documentId,\n      extracted_content: originalDoc.extractedContent || '',\n      char_count: originalDoc.charCount || 0,\n      word_count: originalDoc.wordCount || 0,\n      token_count: originalDoc.estimatedTokens || 0,\n      extraction_method: originalDoc.extractionMethod || null,\n      analysis_status: 'pending'\n    }\n  });\n});\n\nconsole.log(`Prepared ${allContent.length} document content records for insertion`);\nreturn allContent;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[7648,1216],"id":"de0b26c9-d027-4604-a1b0-df06841b6de3","name":"Prepare Content"},{"parameters":{"tableId":"document_content","fieldsUi":{"fieldValues":[{"fieldId":"organization_id","fieldValue":"={{ $json.organization_id }}"},{"fieldId":"assessment_id","fieldValue":"={{ $json.assessment_id }}"},{"fieldId":"version_id","fieldValue":"={{ $json.version_id }}"},{"fieldId":"document_id","fieldValue":"={{ $json.document_id }}"},{"fieldId":"extracted_content","fieldValue":"={{ $json.extracted_content }}"},{"fieldId":"char_count","fieldValue":"={{ $json.char_count }}"},{"fieldId":"word_count","fieldValue":"={{ $json.word_count }}"},{"fieldId":"token_count","fieldValue":"={{ $json.token_count }}"},{"fieldId":"extraction_method","fieldValue":"={{ $json.extraction_method }}"},{"fieldId":"analysis_status","fieldValue":"={{ $json.analysis_status }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[7872,1216],"id":"089dc07b-e844-4579-b676-3833415add04","name":"Insert document content","credentials":{"supabaseApi":{"id":"FTSugGkqwnuu6irz","name":"SupaStack"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.unstructuredapp.io/general/v0/general","sendHeaders":true,"headerParameters":{"parameters":[{"name":"unstructured-api-key","value":"ym60Vm1px1im0HP0l8Lo9lFwGR5RSi"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"files","inputDataFieldName":"data"},{"name":"strategy","value":"={{ $json.extractionStrategy }}"}]},"options":{}},"id":"eb0201b2-8357-4d9f-8341-eeb072af957d","name":"Unstructured.io Extract","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[5792,1648],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Process Unstructured.io API response - SINGLE ELEMENT FIX\nconst item = $input.first();\nconst loopData = $('Loop Files').first().json;\n\n// Check for HTTP errors\nif (item.json.error || item.json.statusCode >= 400) {\n  return [{\n    json: {\n      fileName: loopData.fileName,\n      fileType: loopData.fileType,\n      status: 'error',\n      error: item.json.error || 'HTTP_ERROR',\n      errorMessage: item.json.message || `HTTP ${item.json.statusCode}`,\n      processedText: '',\n      metadata: {}\n    }\n  }];\n}\n\n// Response is a SINGLE element object, not an array\nconst element = item.json;\n\n// Check if it's a valid element\nif (!element.type || !element.text) {\n  console.error('Invalid element structure:', Object.keys(element));\n  return [{\n    json: {\n      fileName: loopData.fileName,\n      fileType: loopData.fileType,\n      status: 'error',\n      error: 'INVALID_ELEMENT',\n      errorMessage: `Element missing type or text. Keys: ${Object.keys(element).join(', ')}`,\n      processedText: '',\n      metadata: {}\n    }\n  }];\n}\n\n// Single element - wrap in array for consistent processing\nconst elements = [element];\n\n// Extract text\nconst allText = element.text || '';\n\n// Detect type\nconst isImage = element.type === 'Image';\nconst isTable = element.type === 'Table';\n\n// Build metadata\nconst metadata = {\n  extractionMethod: 'unstructured_api',\n  totalElements: 1,\n  hasImages: isImage,\n  imageCount: isImage ? 1 : 0,\n  hasTables: isTable,\n  tableCount: isTable ? 1 : 0,\n  characterCount: allText.length,\n  elementTypes: [element.type]\n};\n\nconsole.log(`✅ Processed ${loopData.fileName}: type=${element.type}, chars=${allText.length}`);\n\nreturn [{\n  json: {\n    fileName: loopData.fileName,\n    fileType: loopData.fileType,\n    processedText: allText,\n    metadata: metadata,\n    status: 'success',\n    _rawElements: elements\n  }\n}];"},"id":"f84550f4-4b6f-4d6e-8647-6ebe2f6c69d1","name":"Process Unstructured Output","type":"n8n-nodes-base.code","typeVersion":1,"position":[6096,1600]},{"parameters":{"jsCode":"// Smart strategy selection\nconst item = $input.first();\nconst fileName = item.json.fileName || '';\nconst fileType = item.json.fileType || '';\nconst fileSize = item.json.fileSize || 0;\n\nlet strategy = 'hi_res';\nlet reasoning = 'Complex document';\n\nif (fileType === 'text' || fileType === 'csv') {\n  strategy = 'fast';\n  reasoning = 'Plain text';\n} else if (fileType === 'word') {\n  strategy = 'fast';\n  reasoning = 'Word document';\n} else if (fileType === 'pdf' && fileSize < 1000000) {\n  strategy = 'fast';\n  reasoning = 'Small PDF';\n}\n\nconsole.log(`${fileName}: ${strategy} (${reasoning})`);\n\nreturn [{\n  json: {...item.json, extractionStrategy: strategy},\n  binary: item.binary\n}];"},"id":"3126505b-36f9-40ec-9a15-932f08d22599","name":"Select Extraction Strategy","type":"n8n-nodes-base.code","typeVersion":2,"position":[5440,1648]}],"connections":{"Document Upload Form":{"main":[[{"node":"Initialize","type":"main","index":0}]]},"Initialize":{"main":[[{"node":"Get Assessment","type":"main","index":0}]]},"Get Latest Version":{"main":[[{"node":"Prepare New Version","type":"main","index":0}]]},"Prepare New Version":{"main":[[{"node":"Create or Use Existing?","type":"main","index":0}]]},"Create Stage Version":{"main":[[{"node":"Store Version","type":"main","index":0}]]},"Store Version":{"main":[[{"node":"Classify Files","type":"main","index":0}]]},"Classify Files":{"main":[[{"node":"Loop Files","type":"main","index":0}]]},"Loop Files":{"main":[[{"node":"Prepare Metadata","type":"main","index":0}],[{"node":"Select Extraction Strategy","type":"main","index":0}]]},"Store Result":{"main":[[{"node":"Loop Files","type":"main","index":0}]]},"Prepare Metadata":{"main":[[{"node":"Insert Document Metadata","type":"main","index":0}]]},"Insert Document Metadata":{"main":[[{"node":"Prepare Content","type":"main","index":0},{"node":"Prepare Chunks","type":"main","index":0}]]},"Prepare Chunks":{"main":[[{"node":"Insert Chunks","type":"main","index":0}]]},"Insert Chunks":{"main":[[{"node":"Prepare Output","type":"main","index":0}]]},"Get Assessment":{"main":[[{"node":"Store Org ID","type":"main","index":0}]]},"Store Org ID":{"main":[[{"node":"Get Latest Version","type":"main","index":0}]]},"Prepare Output":{"main":[[{"node":"Call 'Phase 2 - Document Categorizer'","type":"main","index":0}]]},"Create or Use Existing?":{"main":[[{"node":"Create Stage Version","type":"main","index":0}],[{"node":"Use Existing Version","type":"main","index":0}]]},"Use Existing Version":{"main":[[{"node":"Classify Files","type":"main","index":0}]]},"Prepare Content":{"main":[[{"node":"Insert document content","type":"main","index":0}]]},"Unstructured.io Extract":{"main":[[{"node":"Process Unstructured Output","type":"main","index":0}]]},"Process Unstructured Output":{"main":[[{"node":"Store Result","type":"main","index":0}]]},"Select Extraction Strategy":{"main":[[{"node":"Unstructured.io Extract","type":"main","index":0}]]}},"authors":"Laksh Agrawal","name":"Version 1d9afd5e","description":"","autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-02-22T01:02:15.844Z","id":269,"workflowId":"ig0YNPdQmYaQX9ds","versionId":"1d9afd5e-d6ba-4218-8cb9-58de796d1027","event":"activated","userId":"ec164287-6cde-4606-b0c4-9d4cd30c3b98"}]}}